{
  "openapi": "3.1.0",
  "info": {
    "title": "Konfi Quest API",
    "version": "1.0.0",
    "description": "Vollstaendige Schnittstellenbeschreibung. Die Berechtigungen stehen je Operation in der Erweiterung x-berechtigung: welche Rollen zugreifen duerfen, welche Middleware greift, ob nach Organisation gefiltert wird und welche zusaetzlichen Objektpruefungen es gibt.\n\n326 Operationen."
  },
  "servers": [
    {
      "url": "https://konfi-quest.de"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Anmeldung & Konto",
      "description": "Login, Logout, Token-Refresh, eigenes Profil, Organisationswechsel."
    },
    {
      "name": "Benutzer & Rollen",
      "description": "Team-Konten der Leitung: anlegen, ändern, Jahrgangszuweisung, Rollen. /admin/users und /users sind derselbe Router (Alias-Mount)."
    },
    {
      "name": "Doku-Zugang",
      "description": "Anmeldung für die passwortgeschützte API-Dokumentation."
    },
    {
      "name": "Organisationen",
      "description": "Gemeinden anlegen und verwalten, Mitglieder und Limits (Super-Admin und Leitung); Support-Konten ohne Gemeinde (nur Super-Admin)."
    },
    {
      "name": "Passwörter & Einladungen",
      "description": "Passwort vergessen und zurücksetzen, Einladungs-Codes, Konfi-Registrierung."
    },
    {
      "name": "System & Monitoring",
      "description": "Health-Check, Status und Metriken des Servers."
    },
    {
      "name": "Support",
      "description": "Support-Ansicht der Web-Version: das öffentliche Anfrageformular (POST /api/anfragen) und unter /api/support Anfragen, Landeskirchen und Kirchenkreise, Statistik, die Übersicht (Dashboard) und die Gemeindeliste mit Gemeindeleitung sowie die Support-Mail -- Posteingang, Verlauf, Antworten, Textbausteine, Fußzeile (nur Super-Admin). Interne Gemeinden (organizations.intern) stehen in keiner Liste und keiner Zahl."
    },
    {
      "name": "Abzeichen",
      "description": "Abzeichen-Verwaltung und die verdienten Abzeichen von Konfis und Teamer:innen."
    },
    {
      "name": "Aktivitäten & Anträge",
      "description": "Aktivitäten-Katalog, Punkte-Anträge der Konfis und ihre Bearbeitung durch die Leitung."
    },
    {
      "name": "Konfi-Profil & Dashboard",
      "description": "Eigene Daten der Konfis: Profil, Dashboard, Konfispruch, Tageslosung."
    },
    {
      "name": "Konfis (Verwaltung)",
      "description": "Konfi-Konten aus Sicht der Leitung: anlegen, Punkte, Passwort, Beförderung zu Teamer:in."
    },
    {
      "name": "Termine (Konfis)",
      "description": "Termine aus Konfi-Sicht: ansehen, anmelden, abmelden, Warteliste, Zeitfenster."
    },
    {
      "name": "Termine (Verwaltung)",
      "description": "Termine und Serien anlegen, Teilnahme und Anwesenheit pflegen, QR-Check-in, Absagen."
    },
    {
      "name": "Benachrichtigungen",
      "description": "Push-Gerätetokens, Benachrichtigungs-Einstellungen, Badge-Zähler."
    },
    {
      "name": "Challenges (Konfis)",
      "description": "Challenges aus Teilnehmenden-Sicht: ansehen, Beiträge einreichen und zurückziehen."
    },
    {
      "name": "Challenges (Leitung)",
      "description": "Challenges anlegen, moderieren und auswerten."
    },
    {
      "name": "Chat",
      "description": "Chaträume, Nachrichten, Dateien, Umfragen und Reaktionen."
    },
    {
      "name": "Material",
      "description": "Materialablage: Dateien, Tags, Verknüpfung mit Terminen."
    },
    {
      "name": "Teamer:innen",
      "description": "Eigener Bereich der Teamer:innen: Dashboard, Konfis, Anträge, Zertifikate, Konfi-Historie."
    },
    {
      "name": "Wrapped",
      "description": "Jahresrückblick: erzeugen, ansehen, löschen."
    },
    {
      "name": "Jahrgänge",
      "description": "Jahrgänge anlegen und verwalten, Anwesenheits-Matrix, Konfisprüche des Jahrgangs."
    },
    {
      "name": "Stammdaten & Einstellungen",
      "description": "Kategorien, Level und Organisations-Einstellungen."
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Login für alle Rollen (case-insensitiver Username)",
        "description": "KONTOSPERRE seit 27.09.2026 (Audit Sicherheit BF-04, HOCH): Nach 10 falschen Passwoertern (401) innerhalb einer Stunde nimmt das Konto keine Anmeldung mehr an -- auch nicht mit dem richtigen Passwort (429, error_code account_locked). Gezaehlt wird je Konto, nicht je IP: Schluessel ist SHA-256 ueber LOWER(username), gerechnet von Postgres (dieselbe Funktion wie die Kontosuche); unbekannte Benutzernamen werden genauso gezaehlt, die Sperre verraet also nicht, ob es ein Konto gibt. Der Zaehler liegt in rate_limit_zaehler (Migration 167) und gilt ueber alle Replicas. Festes Fenster ab dem ersten Fehlversuch; weitere Versuche verlaengern es nicht. Eine erfolgreiche Anmeldung setzt den Zaehler auf 0; jedes neu gesetzte Passwort und jedes neu angelegte Konto ebenso (POST /auth/change-password, /auth/reset-password, /auth/register-konfi, POST und PUT /users, PUT /users/{id}/reset-password, POST /admin/konfis und /admin/konfis/{id}/regenerate-password, POST /organizations und /organizations/{id}/admins). Leere Felder (400), deaktivierte oder geloeschte Konten (403) und Serverfehler zaehlen nicht. Keine RateLimit-Kopfzeilen fuer die Kontosperre (sie verrieten, wie oft ein Konto durchprobiert wurde), nur Retry-After. Die IP-Grenze (authLimiter) bleibt davor bestehen. Antwortform wie beim authLimiter: { error } mit Status 429, zusaetzlich error_code.\n\nGERAETEBINDUNG seit 28.09.2026 (Audit Sicherheit BF-08, Migration 171): Schickt die App device_id mit, wird das Refresh-Token an diese Kennung gebunden (refresh_tokens.device_id) und gilt beim Refresh nur mit derselben (siehe POST /api/auth/refresh). Ohne device_id -- die Store-Apps 2.2.x und 2.3.0 senden sie hier nie -- bleibt es ungebunden wie bisher. Antwortform unveraendert.\n\nOBERGRENZE seit 01.10.2026 (backend/utils/refreshTokenGrenze.js, Migration 186): Nach jeder Ausgabe eines Refresh-Tokens -- hier, bei POST /api/auth/register-konfi, /api/auth/refresh und /api/auth/change-password -- bleiben je Konto hoechstens die ZEHN juengsten offenen Refresh-Tokens; aeltere werden beendet (revoked_at + expires_at = NOW(), wie beim Logout: keine Gnadenfrist, kein Diebstahl-Signal). Mit device_id endet zusaetzlich jedes andere offene Token desselben Kontos auf DEMSELBEN Geraet. Ein beendetes Token bekommt beim Refresh ein schlichtes 401; die App (auch 2.2.x und 2.3.0) leert die Sitzung und zeigt die Anmeldeseite mit \"Sitzung abgelaufen\". Antwortform unveraendert. Gemessen 01.10.2026: 1.281 offene Tokens auf 133 Konten, das groesste mit 208; echte Konten hatten hoechstens fuenf Tokens aus den letzten sieben Tagen.\n\nKONTO OHNE GEMEINDE seit 03.10.2026 (Simon; docs/planung/web-version.md, Punkt 12 und 13): Ein Support-Konto (users.organization_id NULL, Systemrolle super_admin, Merkmal is_super_admin) meldet sich nur an, wenn die Anfrage kann_ohne_gemeinde: true traegt -- das schickt allein die Web-Version, die Apps auf iPhone und Android nie. Ohne die Zusage 403 mit error_code user_inactive und grund konto_ohne_gemeinde (siehe unten). Die Store-App 2.3.0 zeigt den Text; 1.5.3 bis 2.2.x zeigen bei jeder Ablehnung \"Keine Verbindung zum Server\" (Fehler ihrer Anmeldeseite) und sind trotzdem abgewiesen. Mit der Zusage: 200, im User-Objekt organization null, role_name super_admin, is_super_admin true. Fuer Konten mit Gemeinde aendert das Feld nichts. Bedienkomfort, keine Sicherheitsgrenze -- die Rechte haelt verifyTokenRBAC. Tests: backend/tests/routes/kontoOhneGemeindeAnmeldung.test.js.\n\nSPERRE JE GEMEINDE seit 08.10.2026 (Simon; Migration 196, docs/planung/mehrfach-konten.md Entscheidung 7): Ist die Person nur in ihrer Stamm-Gemeinde gesperrt (user_organizations.is_active = false der Stamm-Zeile), ist aber in einer weiteren Gemeinde frei, gilt das Token fuer die erste freie weitere Gemeinde -- mit Claim active_organization_id wie nach POST /auth/switch-org, Rolle und Gemeindename (user.organization, user.role_name) von dort. Ist sie in KEINER Gemeinde frei, 403 error_code user_inactive wie bei einem gesperrten Konto (dann ist auch users.is_active false). Antwortform unveraendert. Tests: backend/tests/routes/sperreJeGemeinde.test.js.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional (seit 28.09.2026): Geraete-Kennung (iOS identifierForVendor, Android ANDROID_ID, im Browser eine einmal erzeugte Kennung). Bindet das Refresh-Token an das Geraet. Kein Text, leer oder laenger als 255 Zeichen zaehlt wie keine Angabe."
                  },
                  "kann_ohne_gemeinde": {
                    "type": "boolean",
                    "description": "Optional (seit 03.10.2026): Zusage der Web-Version, dass hier ein Konto ohne Gemeinde arbeiten darf. Nur das boolesche true zaehlt. Die Apps schicken es nie. Ohne das Feld weist der Server ein Konto ohne Gemeinde mit 403 grund konto_ohne_gemeinde ab; fuer alle anderen Konten ohne Wirkung."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT (15 Min) + Refresh-Token (90 Tage, SHA-256-gehasht gespeichert) + User-Objekt (bei Konfi inkl. jahrgang und Punkten; bei `admin` seit 27.08.2026 zusaetzlich assigned_jahrgaenge[] fuer die Warnung beim Jahrgangswechsel)"
          },
          "401": {
            "description": "Ungueltige Anmeldedaten (User unbekannt oder Passwort falsch — gleiche Meldung)"
          },
          "403": {
            "description": "User deaktiviert ODER soft-geloescht (deleted_at; beides user_inactive, identische Antwort), Org gesperrt (org_inactive) oder Trial abgelaufen (org_trial_expired); super_admin (Rolle oder Merkmal) von Org- und Trial-Sperre ausgenommen, seit 03.10.2026 nicht mehr von der Deaktivierung, nie von der Loeschung. Seit 03.10.2026 auch: Konto ohne Gemeinde ohne kann_ohne_gemeinde (error_code user_inactive, grund konto_ohne_gemeinde, Text 'Dieses Konto gehört zu keiner Gemeinde und ist für die Support-Ansicht im Browser bestimmt. Bitte melde dich auf konfi-quest.de an.')",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "user_inactive",
                        "org_inactive",
                        "org_trial_expired"
                      ]
                    },
                    "grund": {
                      "type": "string",
                      "enum": [
                        "konto_ohne_gemeinde"
                      ],
                      "description": "Nur wenn ein Konto ohne Gemeinde nicht aus der Web-Version kommt (seit 03.10.2026, additiv)"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Zwei Quellen, gleiche Form { error } (Vertrag mit den Apps; die Store-Apps 2.2.x zeigen wegen eines Fehlers der Anmeldeseite bei jeder Ablehnung \"Keine Verbindung zum Server\", ab 2.3.0 steht dort der Text aus error): authLimiter -- 300 Fehlversuche/15min pro Client-IP (Zähler seit 26.09.2026 replica-übergreifend in der Datenbank, Betrieb BF-09), Meldung \"Zu viele Login-Versuche. Bitte warte 15 Minuten.\" -- oder die Kontosperre (seit 27.09.2026): 10 falsche Passwörter je Stunde und Konto, Meldung \"Zu viele falsche Anmeldeversuche für dieses Konto. Versuche es in einer Stunde wieder oder bitte die Leitung deiner Gemeinde um ein neues Passwort.\" mit error_code account_locked und Retry-After. Der Text ist fest und nennt keinen Namen.\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Nur bei der Kontosperre: Sekunden bis zum Ende des Fensters (höchstens 3600)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_locked"
                      ],
                      "description": "Nur bei der Kontosperre"
                    }
                  }
                }
              }
            }
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "authLimiter",
            "validateLogin",
            "kontoSperre"
          ],
          "org-scope": false,
          "objekt-pruefung": "Org-Aktiv- und Trial-Prüfung im Handler; super_admin (Rolle oder Flag) umgeht beide; is_active = false und deleted_at IS NOT NULL -> 403 user_inactive fuer jede Rolle",
          "hinweis": "Offene Route; setzt last_login_at; setzt nach Erfolg den Zaehler der Kontosperre zurueck"
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Eigenes Passwort ändern (mit aktuellem Passwort)",
        "description": "NEU 27.09.2026 (Bericht \"Wer bekommt was\", BF-20; Simons Entscheidung F-12: \"Ja, fuer Konten mit E-Mail\"): Nach der Antwort geht eine Bestaetigung \"Passwort geändert\" an die hinterlegte Adresse (utils/passwortGeaendertMail.js). Die Vorlage emailService.sendPasswordChangedEmail gab es, sie wurde bis dahin nirgends gerufen. Ohne Adresse keine Mail; das Passwort steht nie darin; ein Versandfehler aendert nichts an Antwort und Passwort. Die Antwortform ist unveraendert.\n\nSEIT 27.09.2026 (Audit Sicherheit BF-04): Das neue Passwort hebt eine Kontosperre nach Fehlversuchen auf (siehe POST /api/auth/login). Antwortform unveraendert.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "Policy: min 8, Gross/Klein/Zahl/Sonderzeichen, keine Leerzeichen"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Optional: Geraet der aktuellen Sitzung — sein Push-Token wird beim Aufraeumen verschont. Bindet das neue Refresh-Token bewusst NICHT an das Geraet: Auch die Store-Apps 2.2.x/2.3.0 schicken das Feld hier mit, beim Refresh aber nie -- ein gebundenes Token sperrte sie aus. Die aktualisierte App bindet es beim ersten Refresh (siehe POST /api/auth/refresh)."
                  },
                  "platform": {
                    "type": "string",
                    "description": "Optional, zusammen mit device_id (ios/android/web)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort geaendert"
          },
          "400": {
            "description": "Aktuelles Passwort falsch / Policy verletzt"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateChangePassword"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account (userId aus Token)"
        }
      }
    },
    "/api/auth/delete-account": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Eigenen Account sofort und kaskadierend löschen (alle Rollen)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Bestaetigung mit aktuellem Passwort"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ message: 'Account erfolgreich gelöscht' } -- Account geloescht (Hard-Delete in einer Transaktion, Rechte-Cache geleert -- seit 26.09.2026, BF-10 --, Sockets getrennt). Mit dem Konto gehen auch die Leitungs-Mitteilungen UEBER die Person (loescheMitteilungenUeberPerson; BEHOBEN 27.09.2026, Audit 'Wer bekommt was' BF-13 / F-07). Seit 28.09.2026 ueber utils/kontoLoeschen.js, dieselbe Funktion wie DELETE /admin/konfis/{id} (Regel und Umfang dort): alles der Person in ALLEN Gemeinden, Zweiergespraeche ganz, Zaehler der Anmeldesperre, Dateien nach dem COMMIT; was sie fuer eine Gemeinde angelegt hat, bleibt ohne Verweis. Antwortform unveraendert"
          },
          "400": {
            "description": "Passwort fehlt oder falsch"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Letzte Person der Gemeindeleitung in ihrer Gemeinde (seit 26.08.2026; GEAENDERT 08.10.2026, Simons Entscheidung: geprueft wird JEDE Gemeinde, in der die Person nicht gesperrte Gemeindeleitung ist, auch nur ueber user_organizations, und gezaehlt werden die anderen aktiven Gemeindeleitungen aus BEIDEN Quellen mit der Rolle dort -- utils/orgMitglieder.js gemeindenOhneWeitereLeitung. BEHOBEN 08.10.2026: vorher nur die Stamm-Gemeinde und Leitungen mit Stamm-Gemeinde dort; wer nur ueber user_organizations einzige Leitung war, konnte sich loeschen, und eine zweite Leitung aus einer anderen Stamm-Gemeinde ergab ein unnoetiges 409. Fehlerform unveraendert) -- ODER (seit 03.10.2026) das letzte aktive Super-Admin-Konto (Rolle oder Merkmal, mit oder ohne Gemeinde): 'Das letzte aktive Super-Admin-Konto lässt sich nicht löschen. Lege zuerst ein weiteres an.' (utils/superAdminKonten.js)"
          },
          "500": {
            "description": "BEHOBEN 28.09.2026: Hatte die Person Antraege in einer WEITEREN Gemeinde, scheiterte die Loeschung am Fremdschluessel activity_requests_konfi_id_fkey (die alte Kaskade raeumte nur die Stamm-Gemeinde ab) -- eine eingeladene Teamer:in konnte ihr Konto nicht loeschen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account; Passwort-Bestaetigung im Handler",
          "hinweis": "UEBERHOLT seit 26.08.2026: Die letzte Person mit Org-Leitung in ihrer Gemeinde bekommt 409, wie in DELETE /users/:id. Vorher stand hier: Auch org_admin kann sich selbst löschen — der Letzter-org_admin-Schutz greift nur in DELETE /users/:id, nicht hier"
        }
      }
    },
    "/api/auth/update-email": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Eigene E-Mail-Adresse setzen/entfernen (optional, ohne Verifikation)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-Mail aktualisiert"
          },
          "400": {
            "description": "Ungueltige E-Mail"
          },
          "409": {
            "description": "E-Mail bereits verwendet"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateUpdateEmail"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account"
        }
      }
    },
    "/api/auth/update-role-title": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Eigene Funktionsbeschreibung (role_title) setzen",
        "description": "JE GEMEINDE seit 08.10.2026 (Migration 196): Die Bezeichnung gilt in der AKTIVEN Gemeinde -- in der Stamm-Gemeinde am Konto (und in einer vorhandenen Stamm-Zeile von user_organizations), in einer weiteren Gemeinde in deren Zeile. Ein Konto ohne Gemeinde traegt sie am Konto. Antwortform unveraendert ({ message, role_title }).\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_title": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiert"
          },
          "403": {
            "description": "Konfis duerfen keinen Titel setzen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin",
            "admin",
            "teamer",
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Inline-Check: role_name !== 'konfi'"
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Eigenes Profil (inkl. is_super_admin-Flag, Trial-Status der Org)",
        "description": "NEU 27.08.2026: assigned_jahrgaenge kommt mit — die eigenen Jahrgangs-Zuweisungen (id, name, can_view, can_edit), ohne zusaetzliche Abfrage (rbacVerifier laedt sie ohnehin). Wofuer: Ein `admin` sieht nur Konfis seiner zugewiesenen Jahrgaenge; verschiebt er eine Konfi in einen fremden Jahrgang, verschwindet sie aus seiner Liste. Die Oberflaeche warnt davor, bevor gespeichert wird. Ohne Zuweisung ein leeres Array, nie undefined.\nBEHOBEN 26.09.2026: role_name und role_display_name galten fuer die STAMM-Gemeinde (die Abfrage las u.role_id), nicht fuer die aktive. Wer ueber user_organizations in einer zweiten Gemeinde eine andere Rolle hat, bekam hier trotzdem die Rolle vom Konto gemeldet -- rbacVerifier hatte sie fuer die aktive Gemeinde laengst aufgeloest, diese Route ignorierte das Ergebnis. Ein ANZEIGEFEHLER, keine Rechteausweitung: Die Rechte haengen an req.user.role_name (requireRole/requireAdmin/requireOrgAdmin lesen genau das) und waren korrekt. Die App richtet ihre Oberflaeche aber nach dieser Antwort und zeigte in der Zweitgemeinde eine Leitungsansicht, deren Knoepfe der Server mit 403 abwies. Antwortform unveraendert.\nSEIT 08.10.2026: role_title gilt ebenfalls fuer die aktive Gemeinde (Migration 196). ADDITIV dazu organization_id, organization (Name) und type der aktiven Gemeinde -- die App gleicht damit nach einem Rueckfall (auth:org-fallback) Rolle und Gemeindenamen an; vorher standen bis zum naechsten Start die der entzogenen Gemeinde da (BEHOBEN 08.10.2026, Grundgeruest BF-05 Nebenbefund). Ausgelieferte Apps mischen die Antwort in ihren Nutzer-Zustand; die Werte entsprechen dem, was sie nach einem Wechsel selbst setzen.\n",
        "responses": {
          "200": {
            "description": "id, username, display_name, email, role_title, role_name, is_super_admin, trial_ends_at, is_trial, assigned_jahrgaenge[]; additiv seit 08.10.2026: organization_id, organization, type (aktive Gemeinde)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur eigene Daten; role_name/role_display_name gelten fuer die AKTIVE Organisation"
        }
      }
    },
    "/api/einladungen": {
      "post": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Eine bestehende Person in die eigene Gemeinde einladen",
        "description": "NEU 26.09.2026 (Simon: \"ORG Admin kann bestehenden anderen User hinzufuegen, der bekommt Einladung und bestaetigt. Schon ist der switcher da.\"). Gesucht wird EXAKT nach Benutzername oder E-Mail -- keine Teilsuche, sonst liesse sich der Bestand fremder Gemeinden durchblaettern. Die Einladung gilt 14 Tage.\nDIE MITGLIEDSCHAFT ENTSTEHT NICHT HIER, sondern erst mit der Annahme: Eine Zugehoerigkeit aendert, was jemand sieht und darf, und wird deshalb nicht ueber den Kopf der Person hinweg angelegt.\nKONFI IST AUSGESCHLOSSEN -- und zwar zusaetzlich zur Rollenhierarchie: canCreateRole('org_admin', 'konfi') liefert TRUE, die Hierarchie allein wuerde es durchlassen. Konfis gehoeren zu einem Jahrgang und kommen ueber invite_codes.\nAUCH ALS ZIEL (BEHOBEN 26.09.2026, Audit Sicherheit BF-03): Ist die gefundene Person ein Konfi (Stammrolle), antwortet die Route mit demselben 404 wie bei einer unbekannten Kennung -- ohne Name, ohne Einladung, ohne Push und Mail. Vorher liess sich ein Konfi einer fremden Gemeinde als Teamer:in einladen, und die Route bestaetigte zu jeder E-Mail-Adresse im System, ob ein Konto existiert (Enumeration, auch von Kindern). Team-Konten bleiben exakt auffindbar; ihre Einladung erscheint ohnehin in der Liste.\nKONFI IRGENDWO REICHT (BEHOBEN 28.09.2026, Simon: \"Konfi und Team geht nicht parallel\"; utils/konfiOderTeam.js): Vorher zaehlte nur die Stammrolle. Ein Konto, das zuhause Team und ueber user_organizations in einer anderen Gemeinde Konfi ist (Altbestand), liess sich so in eine weitere Gemeinde einladen. Jetzt dieselbe 404 nicht_gefunden wie bei einem Konfi. Test tests/routes/konfiOderTeam.test.js.\nMeldung an die eingeladene Person ueber Postfach, Push (Gruppe \"Anfragen und Freigaben\") und E-Mail, nach der Antwort -- seit 08.10.2026 als Auftrag der dauerhaften Warteschlange (utils/warteschlange.js): ein Neustart direkt danach verliert sie nicht. Die Rolle steht darin mit dem festen Wort nach role_name (\"Leitung\", \"Gemeindeleitung\", \"Teamer:in\"; utils/rollenNamen.js). BEHOBEN 28.09.2026: Vorher stand dort der technische Name (\"als admin mitzuarbeiten\"), weil die Abfrage display_name gar nicht las. Dasselbe Wort nennt die Meldung \"Einladung angenommen/abgelehnt\" an die einladende Person (vorher roles.display_name, in bestehenden Gemeinden \"Hauptamt\").\nABGELAUFENE EINLADUNG SPERRT NICHT MEHR (BEHOBEN 28.09.2026): Nach 14 Tagen bleibt der Status 'offen', nur expires_at liegt zurueck; der Teilindex idx_org_einladungen_offen kennt nur den Status. Vorher lief jede neue Einladung derselben Person in dieselbe Gemeinde deshalb auf 409 schon_eingeladen, obwohl GET /einladungen und /einladungen/meine die alte nicht mehr zeigten. Jetzt loescht die Route in derselben Transaktion die abgelaufene offene Einladung genau dieser Person in dieser Gemeinde samt Postfach-Eintrag und legt die neue an. Beantwortete Einladungen (Verlauf) und die anderer Personen bleiben.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kennung",
                  "role_id"
                ],
                "properties": {
                  "kennung": {
                    "type": "string",
                    "description": "Benutzername ODER E-Mail, exakt (Gross-/Kleinschreibung egal)"
                  },
                  "role_id": {
                    "type": "integer",
                    "description": "Rolle DIESER Gemeinde; niemals die konfi-Rolle"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "id, user_id, display_name, username, role_id, role_name, status, expires_at"
          },
          "400": {
            "description": "Rolle gehoert nicht zu dieser Gemeinde; konfi-Rolle (error_code konfi_nicht_moeglich); Selbst-Einladung"
          },
          "403": {
            "description": "Nicht org_admin, oder Rolle laut Hierarchie nicht vergebbar"
          },
          "404": {
            "description": "Kein Konto mit dieser Kennung ODER die Person ist in irgendeiner Gemeinde Konfi -- beides identisch (error_code nicht_gefunden)"
          },
          "409": {
            "description": "Schon Mitglied (schon_mitglied) oder schon eingeladen (schon_eingeladen; nur bei einer noch gueltigen offenen Einladung)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "Rolle gegen roles.organization_id der aktiven Org; Mitgliedschaft ueber BEIDE Quellen geprueft; Teilindex laesst nur eine offene Einladung je Person und Gemeinde"
        }
      },
      "get": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Offene Einladungen der eigenen Gemeinde",
        "description": "Seit dem 27.09.2026 liest die App diese Liste: \"Mehr > Benutzer:innen\", Abschnitt \"Offene Einladungen\" mit dem Knopf \"Zurueckziehen\" (DELETE /api/einladungen/{id}). Die Seite ruft die Route nur als org_admin -- dieselbe Bedingung wie beim Einladen; alle anderen bekaemen 403. Die App liest id, display_name, username, role_name, role_display_name, created_at und expires_at -- diese Felder sind damit Vertrag.\n",
        "responses": {
          "200": {
            "description": "Array offener, nicht abgelaufener Einladungen, neueste zuerst; je Zeile id, organization_id, user_id, role_id, status, expires_at, created_at, organization_display_name, organization_name, role_name, role_display_name, eingeladen_von_name sowie display_name und username der eingeladenen Person"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur die eigene Organisation, nur status='offen' und expires_at > NOW()"
        }
      }
    },
    "/api/einladungen/meine": {
      "get": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Die eigenen offenen Einladungen",
        "responses": {
          "200": {
            "description": "Array (Gemeinde, Rolle, wer eingeladen hat, expires_at)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigene Einladungen (user_id = req.user.id). BEWUSST org-uebergreifend: Die Einladung kommt aus einer Gemeinde, in der man noch NICHT Mitglied ist."
        }
      }
    },
    "/api/einladungen/{id}": {
      "delete": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Offene Einladung zurueckziehen",
        "description": "Setzt status = 'zurueckgezogen' und beantwortet_at = NOW(). Kein echtes Loeschen: Die Zeile bleibt als Verlauf stehen, und der Teilindex (eine offene Einladung je Person und Gemeinde) gibt den Platz fuer eine neue Einladung frei. Nur Einladungen der eigenen Gemeinde im Status 'offen' — alles andere ergibt dieselbe 404, ohne zu verraten, ob es die Einladung gibt.\nNachdokumentiert am 26.09.2026 (Audit Dokumentation BF-09): Die Route kam mit dem Einladungs-Commit, blieb in der yaml aber aus.\n\nBEHOBEN 27.09.2026: Bei der eingeladenen Person blieb nach dem Zurueckziehen der Postfach-Eintrag \"Einladung in eine Gemeinde ... Tippe, um zu antworten\" (type 'gemeinde_einladung') stehen, zaehlte als ungelesen und fuehrte beim Antippen ins Profil, dessen Karte (GET /einladungen/meine, Filter status = 'offen') schon leer war. Jetzt geht der Eintrag in DERSELBEN Transaktion wie der Statuswechsel (utils/postfachAufraeumen.js, loescheMitteilungenZuEinladung ueber data.einladung_id); scheitert das, bleibt auch die Einladung offen. Nur bei Erfolg -- eine 404 (fremde Gemeinde, schon beantwortet) raeumt nichts auf. Die Antwortform ist unveraendert.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "message ('Einladung zurückgezogen')"
          },
          "404": {
            "description": "Nicht vorhanden, fremde Gemeinde oder nicht mehr offen — bewusst dieselbe Antwort"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "organization_id = aktive Org UND status = 'offen' im UPDATE selbst; 0 Zeilen -> 404"
        }
      }
    },
    "/api/einladungen/{id}/annehmen": {
      "post": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Einladung annehmen -- legt die Mitgliedschaft an",
        "description": "Schreibt in einer Transaktion den Status und die Zeile in user_organizations. Danach invalidateUserCache, sonst haelt der RBAC-Cache (30 s) die alte Zugehoerigkeit fest und der Gemeinde-Umschalter zeigt die neue Gemeinde verspaetet.\n\nBEHOBEN 27.09.2026 (Bericht \"Wer bekommt was\", BF-21; Simons Entscheidung F-13: \"Ja, als Postfach-Eintrag\"): Die einladende Leitung erfuhr nichts. Jetzt nach der Antwort Push mit Postfach-Eintrag (data.type 'gemeinde_einladung_beantwortet', status 'angenommen', einladung_id, user_id, organization_id = die einladende Gemeinde) an die Person aus eingeladen_von, solange sie dort zur Gemeindeleitung gehoert (beide Quellen, aktiv, nicht geloescht) -- sonst an die Gemeindeleitung; nie an die eingeladene Person selbst. Dazu das Live-Signal 'users' an die Gemeinde (die Benutzerliste laedt nach). Die Antwortform ist unveraendert.\n\nBEHOBEN 28.09.2026: Bei der eingeladenen Person blieb nach der Zusage der Postfach-Eintrag \"Einladung in eine Gemeinde ... Tippe, um zu antworten\" (type 'gemeinde_einladung') stehen und zaehlte als ungelesen. Er geht jetzt in DERSELBEN Transaktion wie Statuswechsel und Mitgliedschaft (loescheMitteilungenZuEinladung, wie beim Zurueckziehen). Die Zusage an die Leitung ('gemeinde_einladung_beantwortet') bleibt. 404/409/410 raeumen nichts auf; einen abgelaufenen Eintrag nimmt das taegliche Postfach-Aufraeumen (02:00) mit.\n\nKONFI UND TEAM NIE ZUGLEICH (BEHOBEN 28.09.2026, Simon: \"Konfi und Team geht nicht parallel\"; utils/konfiOderTeam.js): Die Annahme prueft Konto und angebotene Rolle mit dem Stand von JETZT. Vorher legte sie die Mitgliedschaft auch an, wenn das Konto inzwischen (oder schon vor dem 26.09.2026, Sicherheit BF-03) Konfi war oder die Einladung die Konfi-Rolle trug. Dann 409 konfi_und_team; die Einladung bleibt offen, nichts wird geschrieben.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "message, organization (id, name, slug, display_name)"
          },
          "404": {
            "description": "Nicht vorhanden ODER nicht die eigene Einladung -- bewusst dieselbe Antwort, sonst liesse sich durch Durchprobieren erkennen, welche es gibt"
          },
          "409": {
            "description": "Bereits beantwortet (error_code schon_beantwortet); seit 28.09.2026 auch: das Konto ist irgendwo Konfi oder die angebotene Rolle ist konfi (error_code konfi_und_team)"
          },
          "410": {
            "description": "Abgelaufen (error_code expired)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur die eingeladene Person selbst; Status offen; expires_at in der Zukunft"
        }
      }
    },
    "/api/einladungen/{id}/ablehnen": {
      "post": {
        "tags": [
          "Benutzer & Rollen"
        ],
        "summary": "Einladung ablehnen",
        "description": "BEHOBEN 27.09.2026 (BF-21 / F-13): Auch die Absage meldet sich bei der einladenden Leitung -- Push mit Postfach-Eintrag 'gemeinde_einladung_beantwortet' (status 'abgelehnt'), Empfaenger wie bei annehmen. Kein Live-Signal, die Benutzerliste aendert sich nicht. Die Antwortform ist unveraendert.\n\nBEHOBEN 28.09.2026: Der Postfach-Eintrag 'gemeinde_einladung' der eingeladenen Person geht mit der Absage, in einer Transaktion mit dem Statuswechsel (wie bei annehmen und beim Zurueckziehen). Die Absage an die Leitung bleibt.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "message"
          },
          "404": {
            "description": "wie bei annehmen"
          },
          "409": {
            "description": "Bereits beantwortet"
          },
          "410": {
            "description": "Abgelaufen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "wie bei annehmen"
        }
      }
    },
    "/api/auth/my-organizations": {
      "get": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Alle Organisationen des Users (Primaer-Org + Multi-Org-Mappings) mit Rolle",
        "responses": {
          "200": {
            "description": "Array (id, name, slug, display_name, role_name, role_display_name, is_active, is_primary); nur aktive Orgs, dedupliziert. is_primary (seit 03.10.2026) kennzeichnet die Stamm-Gemeinde — Login und /me liefern deren Kennung nicht, der Gemeinde-Umschalter findet die aktive Gemeinde darüber. Seit 08.10.2026 fehlen Gemeinden, in denen die Person gesperrt ist (Migration 196) — wie eine entzogene Mitgliedschaft."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigene Mitgliedschaften"
        }
      }
    },
    "/api/auth/switch-org": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Aktive Organisation wechseln — neues Access-Token mit active_organization_id-Claim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id"
                ],
                "properties": {
                  "organization_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neues 15-Min-Token, active_organization_id, Rolle in Ziel-Org"
          },
          "400": {
            "description": "organization_id fehlt"
          },
          "403": {
            "description": "Keine Mitgliedschaft in Ziel-Org, Ziel-Org gesperrt oder (seit 08.10.2026, Migration 196) die Person ist nur in dieser Gemeinde gesperrt -- dann dieselbe Antwort wie ohne Mitgliedschaft"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Mitgliedschaft über beide Quellen (Stamm-Gemeinde aus users.organization_id, weitere aus user_organizations; bis 26.09.2026 nur Letztere — der Rückwechsel in die Stamm-Gemeinde scheiterte bei Konten ohne Zeile) + is_active der Ziel-Org",
          "hinweis": "Trial-Ablauf der Ziel-Org wird hier NICHT geprüft (nur is_active); bekannte Claim-Nachwirkung nach Mitgliedschafts-Entzug bis Token-Ablauf"
        }
      }
    },
    "/api/auth/request-password-reset": {
      "post": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Passwort-Reset-Mail anfordern (immer neutrale Antwort)",
        "description": "BEHOBEN 27.09.2026 (Bericht \"Wer bekommt was\", BF-20): Die Abfrage nahm den ERSTEN Treffer zu users.email -- ohne deleted_at und is_active. Die E-Mail ist nur je Gemeinde eindeutig (Index organization_id, email); trug dieselbe Adresse Konten in mehreren Gemeinden, bekam nur eines den Link, und geloeschte oder gesperrte Konten bekamen ihn auch. Jetzt: nur Konten mit deleted_at IS NULL und is_active nicht false (wie beim Login), und JEDES bekommt einen eigenen Token und eine eigene Mail. Bei mehreren Konten nennt die Mail Gemeinde (auch im Betreff) und Benutzername; bei einem Konto bleibt sie ohne diese Zeilen. Die Mail sagt seit demselben Tag \"24 Stunden gueltig\" (stand faelschlich \"1 Stunde\"; der Token galt immer 24 h). Der Versand laeuft seit 27.09.2026 NACH der Antwort (nachAntwort): Vorher wartete die Antwort auf den SMTP-Server, ihre Laufzeit verriet damit, ob -- und wie viele -- Konten es zur Adresse gibt. Die Antwort ist fuer null, ein und mehrere Konten dieselbe.\nWARTESCHLANGE (08.10.2026): Je Konto ein Auftrag `passwort_reset_mail` in nachlauf_auftraege (utils/passwortResetMail.js). Ein Neustart nach der Antwort verliert die Mail nicht mehr, ein Versandfehler wird wiederholt (30 s, 1, 2, 4 min). Token und Hash entstehen erst im Auftrag: Im Auftrag stehen nur Konto-ID und ob die Adresse mehrere Konten traegt, der Klartext-Token steht nie in der Datenbank. Scheitert der Versand, wird der Hash wieder geloescht; die Wiederholung schickt einen neuen Link. Die Route schreibt vor der Antwort nichts mehr in password_resets. Antwortform unveraendert.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neutral: 'Falls ein Konto existiert, wurde eine E-Mail gesendet' -- unveraendert, auch bei mehreren Konten keine Aufzaehlung"
          },
          "429": {
            "description": "passwordResetLimiter: 5/15min je Client-IP (clientIp) ODER passwordResetEmailLimiter: 3/h je Ziel-E-Mail (normalisiert: trim + lowercase; zaehlt auch fuer unbekannte Adressen, damit der 429 kein Konto verraet); beide Zaehler seit 26.09.2026 replica-uebergreifend in der Datenbank, Betrieb BF-09)"
          },
          "500": {
            "description": "Datenbankfehler. BEHOBEN: Ein fehlgeschlagener Mail-Versand liefert KEIN 500 mehr (seit 22.08.2026 abgefangen, seit 27.09.2026 nach der Antwort) -- vorher 'Mail-Versand fehlgeschlagen (nur wenn Konto existiert)', was die Neutralitaet schwaechte."
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "passwordResetLimiter",
            "passwordResetEmailLimiter",
            "validateRequestPasswordReset"
          ],
          "org-scope": false,
          "objekt-pruefung": "Token 32 Byte Hex, 24h gueltig",
          "hinweis": "BEHOBEN 22.08.2026 (war: BEKANNT: Token wird unhashed in password_resets gespeichert) -- seitdem nur der SHA-256-Hash, eingeloest wird per Klartext-Token aus der Mail"
        }
      }
    },
    "/api/auth/invite-code": {
      "post": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Einladungscode für einen Jahrgang erzeugen (8 Hex-Zeichen, 7 bis 90 Tage gültig)",
        "description": "GUELTIGKEIT WAEHLBAR (28.09.2026, Audit E-08; Simon: \"codes laenger als 7 Tage ist gut. Mach es flexibel. Aber mit Zwang die ablaufen zu lassen.\"): gueltig_tage 7, 14, 30, 60 oder 90, optional. Ohne das Feld (oder mit null) gilt der Code wie bisher 7 Tage — so schicken es die Apps im Store (2.2.0, 2.3.0). Jeder andere Wert: 400 \"Ein Einladungscode gilt 7, 14, 30, 60 oder 90 Tage.\", es wird kein Code angelegt. Einen Code ohne Ablauf gibt es nicht (invite_codes.expires_at NOT NULL; utils/einladungsGueltigkeit.js). Antwort additiv um gueltig_tage erweitert.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jahrgang_id"
                ],
                "properties": {
                  "jahrgang_id": {
                    "type": "integer"
                  },
                  "gueltig_tage": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "enum": [
                      7,
                      14,
                      30,
                      60,
                      90,
                      null
                    ],
                    "default": 7,
                    "description": "Seit 28.09.2026, optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "invite_code, jahrgang_name, expires_at, gueltig_tage (seit 28.09.2026) — Status ist 200"
          },
          "400": {
            "description": "gueltig_tage nicht 7, 14, 30, 60 oder 90 — { error }"
          },
          "403": {
            "description": "Nur die Gemeindeleitung"
          },
          "404": {
            "description": "Jahrgang nicht in eigener Org"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateInviteCode"
          ],
          "org-scope": true,
          "objekt-pruefung": "Jahrgang muss zur eigenen Org gehören",
          "hinweis": "Inline-Check erlaubt auch is_super_admin-Flag (abweichend von den drei anderen Invite-Routen, die strikt role_name==='org_admin' verlangen)"
        }
      }
    },
    "/api/auth/invite-codes": {
      "get": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Aktive Einladungscodes der eigenen Org (inkl. Nutzungs-Zähler)",
        "responses": {
          "200": {
            "description": "Array mit code, jahrgang, expires_at, used_count"
          },
          "403": {
            "description": "Nur org_admin (strikt role_name, OHNE Super-Admin-Flag)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur Codes der eigenen Org, nur nicht-abgelaufene"
        }
      }
    },
    "/api/auth/invite-codes/{id}/extend": {
      "post": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Einladungscode verlaengern (um 7 bis 90 Tage, hoechstens bis 90 Tage im Voraus)",
        "description": "VERLAENGERN WAEHLBAR, IMMER MIT ABLAUF (28.09.2026, Audit E-08): tage 7, 14, 30, 60 oder 90, optional — ohne Body wie bisher um 7 Tage (die Apps im Store schicken keinen). Das neue Ablaufdatum ist das bisherige plus tage, aber NIE mehr als 90 Tage ab jetzt; was darueber hinausginge, wird gekuerzt (begrenzt: true). Bleibt bis zur Grenze nicht einmal ein Tag, 400 und das Datum bleibt. Ein Tag sind 24 Stunden (vorher Kalendertage per setDate — ueber eine Zeitumstellung eine Stunde Unterschied). Abgelaufene Codes bleiben abgelaufen (400 wie bisher) — der Vorschlag aus E-08, auch abgelaufene zu verlaengern, ist nach Simons Entscheidung (\"mit Zwang die ablaufen zu lassen\") bewusst nicht umgesetzt.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID des Einladungs-Codes"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tage": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "enum": [
                      7,
                      14,
                      30,
                      60,
                      90,
                      null
                    ],
                    "default": 7,
                    "description": "Seit 28.09.2026, optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ message, expires_at, begrenzt } — begrenzt (seit 28.09.2026): die 90-Tage-Grenze hat gekuerzt"
          },
          "400": {
            "description": "Abgelaufene Codes nicht verlaengerbar; tage nicht 7, 14, 30, 60 oder 90; oder der Code gilt schon 90 Tage im Voraus — jeweils { error } auf Deutsch"
          },
          "403": {
            "description": "Nur org_admin"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Code muss zur eigenen Org gehören"
        }
      }
    },
    "/api/auth/invite-codes/{id}": {
      "delete": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Einladungscode löschen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID des Einladungs-Codes"
          }
        ],
        "responses": {
          "200": {
            "description": "Geloescht"
          },
          "403": {
            "description": "Nur org_admin"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Code muss zur eigenen Org gehören"
        }
      }
    },
    "/api/auth/check-username/{username}": {
      "get": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Username-Verfuegbarkeit prüfen (oeffentlich, case-insensitiv)",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "pattern": "^[a-zA-Z0-9.-]+$"
            },
            "description": "Zu prüfender Benutzername (case-insensitiv)"
          }
        ],
        "description": "BEHOBEN 29.09.2026 (N3, Audit Sicherheit BF-18): eigene Grenze namensLimiter -- je Client-IP zaehlen nur Treffer (\"vergeben\"), 30 je Viertelstunde, danach 429 fuer jede Pruefung dieser IP. Freie Namen zaehlen nicht: Eine Konfi-Gruppe registriert sich gemeinsam aus einem Gemeinde-WLAN und prueft bei jedem Tastendruck. Zaehler in rate_limit_zaehler (Praefix namenspruefung), ueber alle Replicas. Die App faengt den 429 ab (auch 2.2.x) und zeigt dann keinen Hinweis; POST /register-konfi prueft den Namen selbst (409).",
        "responses": {
          "200": {
            "description": "{ available: bool, message }"
          },
          "400": {
            "description": "Zu kurz / ungueltige Zeichen"
          },
          "429": {
            "description": "Mehr als 30 Treffer je Viertelstunde von dieser IP (seit 29.09.2026)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "namensLimiter"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine"
        }
      }
    },
    "/api/auth/validate-invite/{code}": {
      "get": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Einladungscode prüfen (oeffentlich) — liefert Jahrgang + Org-Name",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Einladungs-Code"
          }
        ],
        "responses": {
          "200": {
            "description": "{ valid: true, jahrgang_name, organization_name }"
          },
          "404": {
            "description": "Code existiert nicht (error_code: not_found)"
          },
          "410": {
            "description": "Code abgelaufen (error_code: expired)"
          },
          "429": {
            "description": "{ error } -- mehr als 60 unbekannte Codes (404) je Viertelstunde von derselben Adresse (einladungscodeLimiter, seit 29.09.2026)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "einladungscodeLimiter"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur Existenz + Ablauf"
        }
      }
    },
    "/api/auth/register-konfi": {
      "post": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Selbst-Registrierung als Konfi mit Einladungscode (inkl. Auto-Login)",
        "description": "GEAENDERT 27.09.2026 (Audit wer-bekommt-was BF-03, F-02, F-03): Die Meldung \"Neue Registrierung\" (Push und Postfach, new_konfi_registration) geht an die Leitung des Jahrgangs: org_admin (und admin mit is_super_admin-Merkmal) immer, admin mit can_view-Zuweisung auf den Jahrgang der Einladung, Teamer:innen nie (backend/utils/jahrgangLeitungSicht.js) -- genau wer die neue Konfi in GET /api/admin/konfis sieht. Beide Quellen der Zugehoerigkeit, Rolle je Gemeinde. Vorher verlangte die Empfaengerliste auch von org_admin eine Zuweisung (die Gemeindeleitung fiel heraus, sobald ein Admin zugewiesen war), die can_view-Pruefung fehlte, und ohne zugewiesenen Admin ging die Meldung als Rueckfall an ALLE Admins der Gemeinde. Den Rueckfall gibt es nicht mehr: Ohne zugewiesenen Admin bekommt sie die Gemeindeleitung. Antwortform unveraendert.\n\nSEIT 27.09.2026 (Audit Sicherheit BF-04): Wurde der gewaehlte Benutzername vorher durchprobiert, startet das neue Konto trotzdem ohne Kontosperre (siehe POST /api/auth/login).\n\nGERAETEBINDUNG seit 28.09.2026 (Audit Sicherheit BF-08): Mit device_id ist das ausgestellte Refresh-Token an das Geraet gebunden, ohne bleibt es ungebunden (siehe POST /api/auth/login und /api/auth/refresh). Antwortform unveraendert.\n\nOBERGRENZE seit 01.10.2026: hoechstens zehn offene Refresh-Tokens je Konto, eines je Geraet (siehe POST /api/auth/login).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invite_code",
                  "display_name",
                  "username",
                  "password"
                ],
                "properties": {
                  "invite_code": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-zA-Z0-9.-]+$"
                  },
                  "password": {
                    "type": "string",
                    "description": "volle Passwort-Policy"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "optional"
                  },
                  "device_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional (seit 28.09.2026): Geraete-Kennung, bindet das Refresh-Token an das Geraet (wie beim Login)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token + Refresh-Token + Konfi-User; Auto-Enrollment in kuenftige Pflicht-Events des Jahrgangs; Push an die Leitung des Jahrgangs (die Gemeindeleitung immer, Admins mit can_view auf den Jahrgang)"
          },
          "403": {
            "description": "Konfi-Limit der Org erreicht (limit_exceeded)"
          },
          "404": {
            "description": "Code existiert nicht"
          },
          "409": {
            "description": "\"Benutzername bereits vergeben\" -- systemweit, ohne Gross/klein. Seit 30.09.2026 auch bei gleichzeitiger Registrierung: die verbindliche Pruefung steht in der Transaktion unter pg_advisory_xact_lock je Namen (utils/benutzernameSperre.js, dieselbe Sperre wie POST /users, /organizations und /admin/konfis); die Pruefung davor spart nur das Hashen. Vorher kamen zwei gleichzeitige Registrierungen mit \"Anna\"/\"anna\" beide durch (200/200)"
          },
          "410": {
            "description": "Code abgelaufen"
          },
          "429": {
            "description": "registerLimiter: 200/h pro IP (Zähler seit 26.09.2026 replica-übergreifend in der Datenbank, Betrieb BF-09)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "registerLimiter",
            "validateRegisterKonfi"
          ],
          "org-scope": false,
          "objekt-pruefung": "Invite-Code bestimmt Org + Jahrgang; konfi-Rolle wird org-gescopt aufgeloest; Konfi-Limit (max_konfis) hard_block"
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Passwörter & Einladungen"
        ],
        "summary": "Passwort mit Reset-Token setzen (oeffentlich)",
        "description": "NEU 27.09.2026 (BF-20; Simons Entscheidung F-12: \"Ja, fuer Konten mit E-Mail\"): Nach der Antwort geht eine Bestaetigung \"Passwort geändert\" an die hinterlegte Adresse des Kontos (utils/passwortGeaendertMail.js, emailService.sendPasswordChangedEmail). Ohne Adresse keine Mail; ein Versandfehler aendert nichts an Antwort und Passwort.\n\nSEIT 27.09.2026 (Audit Sicherheit BF-04): Das neue Passwort hebt eine Kontosperre nach Fehlversuchen auf (siehe POST /api/auth/login). Antwortform unveraendert.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "newPassword"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "volle Passwort-Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort zurueckgesetzt, Token als benutzt markiert (Einmal-Nutzung)"
          },
          "400": {
            "description": "Token ungueltig/abgelaufen/benutzt oder Policy verletzt"
          },
          "429": {
            "description": "{ error } -- mehr als 20 ungueltige Tokens je Viertelstunde von derselben Adresse (resetTokenLimiter, seit 29.09.2026)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "resetTokenLimiter",
            "validateResetPassword"
          ],
          "org-scope": false,
          "objekt-pruefung": "Token-Lookup in password_resets (used_at IS NULL, expires_at > NOW)"
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Access-Token per Refresh-Token erneuern (Rotation, 5-Min-Grace-Window genau einmal)",
        "description": "SPERRE JE GEMEINDE seit 08.10.2026 (Migration 196): Die Gemeinde aus X-Active-Organization kommt nur in den Claim, wenn die Person dort Mitglied UND nicht gesperrt ist. Sonst gilt die Standard-Gemeinde: die Stamm-Gemeinde, oder -- ist die Person nur dort gesperrt -- die erste freie weitere (dann mit Claim active_organization_id). In keiner Gemeinde frei: 403 user_inactive. Antwortform unveraendert.\n\nOBERGRENZE seit 01.10.2026: Nach der Rotation bleiben je Konto hoechstens die zehn juengsten offenen Refresh-Tokens, eines je Geraet (siehe POST /api/auth/login). Das gerade rotierte Token ist dann schon widerrufen und zaehlt nicht mit; die Gnadenfrist gilt unveraendert, auch wenn das Konto an der Grenze steht (backend/tests/routes/refreshTokenGrenze.test.js).\n",
        "parameters": [
          {
            "name": "X-Active-Organization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Aktive Multi-Org — wird nach Mitgliedschafts-Pruefung als Claim uebernommen"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional (seit 28.09.2026): Geraete-Kennung. Pflicht fuer gebundene Tokens; bindet ein ungebundenes Token beim Rotieren an das Geraet. Kein Text, leer oder laenger als 255 Zeichen zaehlt wie keine Angabe."
                  },
                  "kann_ohne_gemeinde": {
                    "type": "boolean",
                    "description": "Optional (seit 03.10.2026): wie bei POST /api/auth/login. Die Web-Version schickt es bei jedem Refresh mit; ohne das Feld endet der Refresh eines Kontos ohne Gemeinde mit 403 grund konto_ohne_gemeinde (das eingereichte Token ist dann rotiert und widerrufen, ein neues gibt es nicht). Fuer alle anderen Konten ohne Wirkung."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neues Token-Paar; altes Refresh-Token revoziert und traegt ersetzt_durch. Es bleibt 5 Min im Grace-Window GENAU EINMAL nutzbar (gnade_genutzt_at) -- dabei wird der Nachfolger der ersten Rotation widerrufen und sofort ablaufen gelassen, so dass je Geraet genau ein Token offen bleibt. Das neue Token uebernimmt die Geraetebindung des alten; war das alte ungebunden und kam device_id mit, ist das neue daran gebunden"
          },
          "401": {
            "description": "Refresh-Token unbekannt, abgelaufen, per Logout widerrufen oder ausserhalb des 5-Min-Fensters (kein Widerruf weiterer Tokens). ODER dritte Verwendung eines rotierten Tokens innerhalb des Fensters: Diebstahl-Signal, ALLE Refresh-Tokens des Kontos werden widerrufen (revoked_at + expires_at = NOW()), gleiche Fehlermeldung. ODER (seit 28.09.2026) gebundenes Token mit anderer oder fehlender device_id: nur DIESES Token wird widerrufen und sofort ablaufen gelassen (auch im Grace-Window, ohne dessen Gnade zu verbrauchen; der Nachfolger des echten Geraets bleibt), gleiche Fehlermeldung"
          },
          "403": {
            "description": "{ error, error_code } -- User deaktiviert oder soft-geloescht (deleted_at, beides user_inactive; seit 26.09.2026, Audit Sicherheit BF-07) / Org gesperrt (org_inactive) / Trial abgelaufen (org_trial_expired); super_admin von Org- und Trial-Sperre ausgenommen, seit 03.10.2026 nicht mehr von der Deaktivierung, nie von der Loeschung. Code, Reihenfolge (erst Konto, dann Gemeinde) und Text sind seit 28.09.2026 dieselben wie bei POST /api/auth/login (eine Quelle, SPERR_MELDUNGEN); die App zeigt den Text nach einem abgelehnten Refresh auf der Anmeldeseite statt 'Sitzung abgelaufen'. Das eingereichte Refresh-Token ist dann bereits rotiert und widerrufen, ein neues wird nicht ausgestellt. Seit 03.10.2026 auch: Konto ohne Gemeinde ohne kann_ohne_gemeinde -> { error, error_code: user_inactive, grund: konto_ohne_gemeinde }, Text wie bei der Anmeldung"
          },
          "429": {
            "description": "{ error } -- mehr als 300 abgelehnte Tokens (401) je Viertelstunde von derselben Adresse (refreshLimiter, seit 29.09.2026). Erfolgreiche Erneuerungen, 403, 400 und 500 zaehlen nicht. ACHTUNG: Die App (2.2.x, 2.3.0) meldet sich bei jeder abgelehnten Erneuerung ab, auch bei 429 -- deshalb so weit wie die Fehlversuche beim Login; ein Geraet erzeugt hoechstens zwei 401, bevor die App den Token verwirft"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "refreshLimiter"
          ],
          "org-scope": false,
          "objekt-pruefung": "SHA-256-Hash-Lookup in refresh_tokens; Sperr-Checks wie beim Login",
          "hinweis": "token_invalidated_at (Soft-Revoke) wird beim Refresh nicht geprüft — Soft-Revoke wirkt nur auf Access-Tokens, nicht auf die Refresh-Kette"
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Anmeldung & Konto"
        ],
        "summary": "Logout — Refresh-Token revozieren und Push-Token des Geraets entfernen (best effort, immer 200)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Geraete-ID. Wird sie zusammen mit platform mitgesendet, entfernt die Route den Push-Token dieses Geraets für den angemeldeten User. Seit 22.08.2026: Der Client ruft dafuer zwar auch DELETE /notifications/device-token, aber best-effort (Timeout, nur online, nur mit ermittelbarer Geraete-ID) — schlug das fehl, kamen weiter Push-Nachrichten an das abgemeldete Geraet.\n"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immer 'Logout erfolgreich'; Token wird zusaetzlich sofort expired (kein Grace-Window)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Revoziert nur das mitgesendete Token (Hash-Match). Der Push-Token-Cleanup ist auf user_id des Tokens gescopt — fremde Geraete und andere Nutzer auf demselben Geraet bleiben unberuehrt.\n"
        }
      }
    },
    "/api/docs-auth/pruefen": {
      "get": {
        "tags": [
          "Doku-Zugang"
        ],
        "summary": "Forward-Auth-Check des Reverse-Proxys für /docs/api/*",
        "responses": {
          "200": {
            "description": "Doku-Cookie (signiertes JWT, Zweck 'docs') ist gueltig"
          },
          "302": {
            "description": "Kein/ungueltiges Cookie UND X-Forwarded-Uri gesetzt (Traefik): Redirect auf die Anmeldeseite, Ziel aus X-Forwarded-Host (https fest)"
          },
          "401": {
            "description": "Kein/ungueltiges Cookie ohne X-Forwarded-Uri (Caddy baut den Redirect selbst)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "JWT-Verify des kq_docs-Cookies; App-Anmeldetokens werden abgelehnt (Zweck-Claim)",
          "hinweis": "Wird vom Proxy bei JEDEM Doku-Aufruf gerufen — bewusst ohne eigenes Limit (nur generalLimiter)"
        }
      }
    },
    "/api/docs-auth/anmelden": {
      "post": {
        "tags": [
          "Doku-Zugang"
        ],
        "summary": "Anmeldung mit dem gemeinsamen Doku-Passwort, setzt das Doku-Cookie",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passwort"
                ],
                "properties": {
                  "passwort": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cookie kq_docs gesetzt (JWT 30 Tage, HttpOnly, Secure, SameSite=Lax)"
          },
          "401": {
            "description": "Passwort falsch (zeitkonstanter Vergleich)"
          },
          "429": {
            "description": "docsLoginLimiter: 20 Fehlversuche/15min pro Client-IP; Erfolge zaehlen nicht (Zähler seit 26.09.2026 replica-übergreifend in der Datenbank, Betrieb BF-09 — vorher galt das Limit je Replica, also doppelt)"
          },
          "503": {
            "description": "DOCS_PASSWORD nicht gesetzt — Doku bleibt gesperrt statt offen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "docsLoginLimiter"
          ],
          "org-scope": false,
          "objekt-pruefung": "timingSafeEqual gegen DOCS_PASSWORD (SHA-256 nur zur Puffer-Angleichung, nichts wird gespeichert)"
        }
      }
    },
    "/api/docs-auth/abmelden": {
      "post": {
        "tags": [
          "Doku-Zugang"
        ],
        "summary": "Doku-Cookie löschen",
        "responses": {
          "200": {
            "description": "Cookie geloescht (Max-Age=0)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "Keine — loescht nur das eigene Cookie"
        }
      }
    },
    "/api/organizations": {
      "get": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Alle Organisationen mit Team-/Konfi-Zaehlern (nur Super-Admin)",
        "description": "Seit 03.10.2026 (Migration 191, nur neue Felder): kirchenkreis_id (aus organizations.*), dazu landeskirche_id und landeskirche aus dem zugeordneten Kirchenkreis (sonst null). Alle bisherigen Felder bleiben, auch die Textspalte kirchenkreis.\nINTERNE GEMEINDEN AUSGENOMMEN (seit 03.10.2026, Migration 194): Gemeinden mit organizations.intern = true -- die Review- und Test-Gemeinden fuer die Stores -- stehen nicht in der Liste. Sie ist die Gemeinde-Auswahl der Support-Ansicht (Mails zuordnen, Posteingang) und der Verwaltung. Die Antwortform bleibt GLEICH: nur weniger Eintraege, kein neues Feld (intern waere hier immer false und wird weggelassen). Zugriff ueber die Kennung (GET und PUT /organizations/{id}) bleibt moeglich; GET zeigt intern.\n",
        "responses": {
          "200": {
            "description": "Array aller Orgs ausser den internen: organizations.* (seit 03.10.2026 mit kirchenkreis_id, ohne intern) inkl. user_count/konfi_count/event_count, dazu landeskirche_id und landeskirche"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine (org-uebergreifend)"
        }
      },
      "post": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Gemeinde anlegen inkl. erster Gemeindeleitung und Standard-Daten (4 Rollen, 36 Badges, 4 Zertifikat-Typen, 6 Levels, 14 Kategorien, 9 Aktivitäten, 3 Beispiel-Challenges)",
        "description": "Standardrollen (display_name): org_admin \"Org-Leitung\", admin \"Leitung\", teamer \"Teamer:in\", konfi \"Konfirmand:in\" (seit 28.09.2026; vorher \"Organisations-Admin\" und \"Hauptamt\"). Bestehende Gemeinden behalten ihre display_name-Werte -- keine Migration; die App beschriftet Rollen nach role_name.\nBEHOBEN 29.09.2026 (Nebenbefund Screens/Leitung BF-15): (1) GANZ ODER GAR NICHT: Gemeinde, Rollen, erste Gemeindeleitung und alle Vorlagen entstehen in EINER Transaktion; scheitert ein Schritt, bleibt nichts stehen (500) -- vorher eine halbe Gemeinde mit belegtem Systemnamen. (2) admin_username wird SYSTEMWEIT und ohne Gross/klein geprueft wie in POST /api/users und POST /api/organizations/{id}/admins: 409 \"Benutzername existiert bereits (muss systemweit eindeutig sein)\", nichts wird angelegt. Vorher griff nur der Index (organization_id, username) -- in einer neuen Gemeinde nie; die Anmeldung per LOWER(username) wurde mehrdeutig. (3) SYSTEMNAME MIT UMLAUTEN: Die App bildet name/slug aus dem Anzeigenamen und verliert dabei Umlaute (\"Büsum\" -> \"bsum\"). Entspricht ein geschickter Wert genau dieser Bildung, bildet der Server ihn neu mit ä->ae, ö->oe, ü->ue, ß->ss (\"buesum\"); ein eigener Wert bleibt, nur Umlaute darin werden ebenso umgeschrieben (utils/gemeindeSystemname.js). Nur beim Anlegen -- bestehende Gemeinden werden nicht umbenannt, PUT speichert weiter, was geschickt wird. Antwortform unveraendert. NACHTRAG 30.09.2026: Die App ab 2.3.0 bildet name/slug selbst mit derselben Umschrift (frontend/src/utils/gemeindeSystemname.ts, Test gegen diese Funktion); der Server behaelt, was sie schickt. Die Store-App 2.2.x schickt weiter die verlustbehaftete Form.\nSTARTBESTAND (nachgezaehlt 30.09.2026; die Zusammenfassung nannte bis dahin 27 Badges, 5 Kategorien und 5 Aktivitaeten): 4 Rollen (org_admin, admin, teamer, konfi); 36 Badges -- 27 fuer Konfis und 9 fuers Team (target_role 'teamer'); 4 Zertifikat-Typen; 6 Levels; 14 Kategorien; 9 Aktivitaeten -- 5 fuer Konfis mit Punkten und 4 fuers Team ohne Punkte und Punktetyp; 3 Beispiel-Challenges als Entwurf ohne Jahrgang. Die Zaehler der Antwort nennen dieselben Zahlen.\nBEHOBEN 30.09.2026: Das Feld message nannte nur die 5 Aktivitaeten fuer Konfis, default_activities_created daneben 9. Jetzt nennen beide 9. Die App liest message nicht.\nSEIT 03.10.2026: Die Anlage steht in utils/gemeindeAnlegen.js; dieselbe Funktion ruft POST /api/support/anfragen/{id}/anlegen. Fuer dieselbe Anfrage legt die Route Stueck fuer Stueck dasselbe an wie vorher (tests/routes/gemeindeAnlegenGemeinsam.test.js, Pruefsumme vom Stand davor). Neu und optional: kirchenkreis_id -- dann steht dessen Name in der Textspalte kirchenkreis, ein geschickter Freitext zaehlt nicht.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "slug",
                  "display_name",
                  "admin_username",
                  "admin_password",
                  "admin_display_name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contact_name": {
                    "type": "string"
                  },
                  "contact_email": {
                    "type": "string"
                  },
                  "contact_phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "website_url": {
                    "type": "string"
                  },
                  "kirchenkreis": {
                    "type": "string",
                    "description": "Freitext; mit kirchenkreis_id uebergangen"
                  },
                  "kirchenkreis_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "seit 03.10.2026, optional: Zuordnung zu einem Kirchenkreis (GET /api/support/kirchenkreise); unbekannt 400 'Kirchenkreis nicht gefunden', kein Verweis 400 'Ungültiger Kirchenkreis' -- nichts angelegt"
                  },
                  "max_konfis": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "admin_username": {
                    "type": "string",
                    "description": "systemweit eindeutig (case-insensitiv), seit 29.09.2026 geprueft; 3 bis 50 Zeichen, nur Buchstaben, Ziffern, Punkt und Bindestrich (benutzernameRegel wie commonValidations.username), sonst 400 Validierungsfehler -- BEHOBEN 08.10.2026, bis dahin nur 'nicht leer' (Leerzeichen und Sonderzeichen gingen durch)"
                  },
                  "admin_password": {
                    "type": "string",
                    "minLength": 8,
                    "description": "Volle Passwort-Policy (validatePassword): min 8 Zeichen, Gross- und Kleinbuchstabe, Zahl, Sonderzeichen, keine Leerzeichen; sonst 400. BEHOBEN 22.08.2026 (N6) -- hier bis 30.09.2026 noch als 'nur min 6 Zeichen, keine Policy' beschrieben"
                  },
                  "admin_display_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "id, admin_user_id, default_badges_created (36), default_certificates_created (4), default_levels_created (6), default_categories_created (14), default_activities_created (9), default_challenges_created (3), message (dieselben Zahlen als Text)"
          },
          "400": {
            "description": "Validierungsfehler {error, details[{field, message}]}: Pflichtfeld leer oder admin_password verletzt die Passwort-Policy; nichts wird angelegt"
          },
          "409": {
            "description": "\"Gemeinde-Slug existiert bereits\" (auch nach dem Umschreiben der Umlaute) oder \"Benutzername existiert bereits (muss systemweit eindeutig sein)\" (seit 29.09.2026). Seit 30.09.2026 auch bei gleichzeitiger Anlage: Pruefen und Anlegen in EINER Transaktion unter pg_advisory_xact_lock je Namen (klein geschrieben; utils/benutzernameSperre.js, dieselbe Sperre in POST /users, POST /organizations/{id}/admins und POST /organizations) -- die zweite Anlage wartet und bekommt diese 409. Vorher kamen zwei gleichzeitige Anlagen desselben Namens beide durch (201/201, zwei Konten), weil der einzige eindeutige Index (organization_id, username) Gross/klein unterscheidet und nur in einer Gemeinde greift; die zweite Gemeinde entsteht dabei nicht"
          },
          "500": {
            "description": "Fehler beim Anlegen; seit 29.09.2026 bleibt dabei nichts von der Gemeinde stehen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateCreateOrg"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine",
          "hinweis": "Seit 27.09.2026 (Audit Sicherheit BF-04): Der erste org_admin startet ohne Kontosperre, auch wenn sein Benutzername vorher durchprobiert wurde"
        }
      }
    },
    "/api/organizations/search-users": {
      "get": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Systemweite User-Suche für Multi-Org-Zuweisung (ohne Konfis)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Suchbegriff"
          }
        ],
        "responses": {
          "200": {
            "description": "Max. 20 aktive Nicht-Konfi-User (username, display_name, email, Primaer-Org, Rolle). Support-Konten ohne Gemeinde stehen mit primary_organization_name null und primary_role_name super_admin darin -- so werden sie als Gast in eine Gemeinde aufgenommen (POST /organizations/{id}/members)"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine (org-uebergreifend, bewusst)"
        }
      }
    },
    "/api/organizations/support-konten": {
      "get": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Alle Support-Konten (Super-Admin ohne Gemeinde) mit ihren Gast-Gemeinden",
        "description": "NEU 03.10.2026 (Simon; docs/planung/web-version.md, Punkt 10 bis 15). Ein Support-Konto hat keine Gemeinde (users.organization_id NULL), traegt die Systemrolle super_admin und das Merkmal is_super_admin (Migration 190) und hat dieselben Rechte wie jeder Super-Admin. Es meldet sich nur in der Web-Version an (POST /api/auth/login, kann_ohne_gemeinde). Diese Liste zeigt nur Konten ohne Gemeinde; Super-Admins mit Gemeinde stehen in deren Benutzerliste. Geloeschte (deleted_at) fehlen.\n",
        "responses": {
          "200": {
            "description": "Array, nach Anzeigename sortiert",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "username": {
                        "type": "string"
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "email": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "last_login_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "gemeinden": {
                        "type": "array",
                        "description": "Gast-Mitgliedschaften (user_organizations): id, name, display_name, role_name",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Kein Super-Admin (Rolle oder Merkmal)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "nur users.organization_id IS NULL",
          "hinweis": "Eigene Datei backend/routes/supportKonten.js, eingehaengt in organizations.js vor /:id. Tests: backend/tests/routes/supportKonten.test.js"
        }
      },
      "post": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Support-Konto anlegen (ohne Gemeinde, Systemrolle super_admin, Merkmal is_super_admin)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "display_name",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-zA-Z0-9.-]+$",
                    "description": "Systemweit frei, ohne Gross/klein -- geprueft unter derselben Sperre wie POST /users (utils/benutzernameSperre.js)"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "volle validatePassword-Policy"
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional; fuer 'Passwort vergessen'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "{ id, username, display_name, email, is_active, created_at, gemeinden: [] }"
          },
          "400": {
            "description": "Benutzername, Anzeigename, Passwort oder E-Mail ungueltig"
          },
          "403": {
            "description": "Kein Super-Admin"
          },
          "409": {
            "description": "Benutzername existiert bereits (muss systemweit eindeutig sein)"
          },
          "500": {
            "description": "u. a. 'Die Rolle für Support-Konten fehlt. Bitte den Migrationsstand prüfen.' -- die Systemrolle aus Migration 190 fehlt"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "Rolle = Systemrolle super_admin (organization_id NULL); das neue Konto startet ohne Kontosperre nach Fehlversuchen"
        }
      }
    },
    "/api/organizations/support-konten/{id}": {
      "patch": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Support-Konto sperren oder entsperren",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User-ID des Support-Kontos"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "is_active"
                ],
                "properties": {
                  "is_active": {
                    "type": "boolean",
                    "description": "false sperrt, true entsperrt (nur echte Booleans)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ id, username, display_name, email, is_active }. Sperren beendet alle Sitzungen: token_invalidated_at, alle Refresh-Tokens widerrufen und sofort abgelaufen, Push-Tokens geloescht, Rechte-Cache geleert, Sockets getrennt. Danach Anmeldung und Refresh 403 user_inactive"
          },
          "400": {
            "description": "is_active fehlt oder ist kein Boolean"
          },
          "403": {
            "description": "Kein Super-Admin"
          },
          "404": {
            "description": "Kein Support-Konto (Konto mit Gemeinde, geloescht oder unbekannt) -- dann aendert sich nichts"
          },
          "409": {
            "description": "'Das letzte aktive Super-Admin-Konto lässt sich nicht sperren. Lege zuerst ein weiteres an.' -- gezaehlt werden alle aktiven, nicht geloeschten Konten mit Rolle super_admin oder Merkmal, mit oder ohne Gemeinde (utils/superAdminKonten.js, unter einer Sperre gegen gleichzeitiges Sperren)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "nur users.organization_id IS NULL; das eigene Konto ist erlaubt, solange ein weiteres aktives Super-Admin-Konto bleibt"
        }
      },
      "delete": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Support-Konto loeschen (gemeinsame Kontoloeschung)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User-ID des Support-Kontos"
          }
        ],
        "responses": {
          "200": {
            "description": "{ message: 'Support-Konto gelöscht' } -- utils/kontoLoeschen.js wie bei jeder Kontoloeschung: Gast-Mitgliedschaften, Chats, Mitteilungen, alles der Person; Dateien nach dem COMMIT"
          },
          "403": {
            "description": "Kein Super-Admin"
          },
          "404": {
            "description": "Kein Support-Konto -- ein Konto mit Gemeinde bleibt"
          },
          "409": {
            "description": "'Das letzte aktive Super-Admin-Konto lässt sich nicht löschen. Lege zuerst ein weiteres an.'"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "nur users.organization_id IS NULL; Schutz des letzten aktiven Super-Admin-Kontos"
        }
      }
    },
    "/api/organizations/support-konten/{id}/passwort": {
      "put": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Passwort eines Support-Kontos setzen",
        "description": "Wie PUT /api/users/{id}/reset-password: beendet alle Sitzungen, hebt eine Kontosperre nach Fehlversuchen auf und schickt nach der Antwort die Bestaetigung an die hinterlegte Adresse (ohne Passwort), mit dem Satz \"der Support von Konfi Quest hat ein neues Passwort fuer dein Konto gesetzt\". BEHOBEN 08.10.2026: bis dahin keine Mail hier und an PUT /api/users/{id}/reset-password fuer Support-Konten der falsche Satz \"die Leitung deiner Gemeinde hat ...\" (utils/passwortGeaendertMail.js waehlt den Support-Satz fuer Konten ohne Gemeinde).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User-ID des Support-Kontos"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "volle validatePassword-Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ message: 'Passwort gesetzt' }"
          },
          "400": {
            "description": "Policy verletzt"
          },
          "403": {
            "description": "Kein Super-Admin"
          },
          "404": {
            "description": "Kein Support-Konto -- ein Konto mit Gemeinde bleibt unveraendert"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "nur users.organization_id IS NULL"
        }
      }
    },
    "/api/organizations/current": {
      "get": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Eigene (aktive) Organisation mit Statistiken",
        "responses": {
          "200": {
            "description": "SELECT * der Org + user/konfi/jahrgang/activity/event/badge_count"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin",
            "admin",
            "teamer"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgVerwaltung"
          ],
          "org-scope": true,
          "objekt-pruefung": "Immer req.user.organization_id",
          "hinweis": "BEHOBEN 22.08.2026 (war N5): requireOrgVerwaltung (= requireTeamer oder Super-Admin) — Konfis erhalten 403 statt Kontakt-, Trial- und Limit-Feldern. Der Hinweis hier las sich bis zum 26.09.2026 noch wie ein offener Befund."
        }
      }
    },
    "/api/organizations/{id}": {
      "get": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Einzelne Organisation mit Zaehlern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID der Organisation"
          }
        ],
        "responses": {
          "200": {
            "description": "SELECT * + user/teamer/admin/konfi/... counts; dazu wunsch_lizenz (seit 03.10.2026, Migration 192) -- die Wunschlizenz aus der juengsten Anfrage, aus der die Gemeinde entstanden ist, sonst null; intern (Migration 194, additiv) gehoert zu organizations.*: auch eine interne Gemeinde ist ueber die Kennung lesbar"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin",
            "admin",
            "teamer"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgVerwaltung"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: is_super_admin ODER organization_id === id"
        }
      },
      "put": {
        "tags": [
          "Organisationen"
        ],
        "summary": "Organisation bearbeiten (Stammdaten; trial_ends_at/is_trial nur Super-Admin)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID der Organisation"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "slug",
                  "display_name"
                ],
                "properties": {
                  "name": {
[...]
