{
  "openapi": "3.1.0",
  "info": {
    "title": "Konfi Quest API",
    "version": "1.0.0",
    "description": "Vollstaendige Schnittstellenbeschreibung. Die Berechtigungen stehen je Operation in der Erweiterung x-berechtigung: welche Rollen zugreifen duerfen, welche Middleware greift, ob nach Organisation gefiltert wird und welche zusaetzlichen Objektpruefungen es gibt.\n\n238 Operationen."
  },
  "servers": [
    {
      "url": "https://konfi-quest.de"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Anmeldung & Verwaltung"
    },
    {
      "name": "Konfis & Termine"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Chat-Umfragen"
    },
    {
      "name": "Chat-Reaktionen"
    },
    {
      "name": "Challenges-Teilnehmer"
    },
    {
      "name": "Challenges-Leitung"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Chat & Challenges"
    },
    {
      "name": "Teamer:innen, Material & Wrapped"
    },
    {
      "name": "Stammdaten"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login fuer alle Rollen (case-insensitiver Username)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT (15 Min) + Refresh-Token (90 Tage, SHA-256-gehasht gespeichert) + User-Objekt (bei Konfi inkl. jahrgang und Punkten)"
          },
          "401": {
            "description": "Ungueltige Anmeldedaten (User unbekannt oder Passwort falsch — gleiche Meldung)"
          },
          "403": {
            "description": "User deaktiviert (user_inactive), Org gesperrt (org_inactive) oder Trial abgelaufen (org_trial_expired); super_admin ausgenommen"
          },
          "429": {
            "description": "authLimiter: 300 Fehlversuche/15min pro Client-IP"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "authLimiter",
            "validateLogin"
          ],
          "org-scope": false,
          "objekt-pruefung": "Org-Aktiv- und Trial-Pruefung im Handler; super_admin (Rolle oder Flag) umgeht beide",
          "hinweis": "Offene Route; setzt last_login_at"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/change-password": {
      "post": {
        "summary": "Eigenes Passwort aendern (mit aktuellem Passwort)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "Policy: min 8, Gross/Klein/Zahl/Sonderzeichen, keine Leerzeichen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort geaendert"
          },
          "400": {
            "description": "Aktuelles Passwort falsch / Policy verletzt"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateChangePassword"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account (userId aus Token)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/delete-account": {
      "post": {
        "summary": "Eigenen Account sofort und kaskadierend loeschen (alle Rollen)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Bestaetigung mit aktuellem Passwort"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account geloescht (Hard-Delete in einer Transaktion, Sockets getrennt)"
          },
          "400": {
            "description": "Passwort fehlt oder falsch"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account; Passwort-Bestaetigung im Handler",
          "hinweis": "Auch org_admin kann sich selbst loeschen — der Letzter-org_admin-Schutz greift nur in DELETE /users/:id, nicht hier"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/update-email": {
      "post": {
        "summary": "Eigene E-Mail-Adresse setzen/entfernen (optional, ohne Verifikation)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-Mail aktualisiert"
          },
          "400": {
            "description": "Ungueltige E-Mail"
          },
          "409": {
            "description": "E-Mail bereits verwendet"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateUpdateEmail"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigener Account"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/update-role-title": {
      "post": {
        "summary": "Eigene Funktionsbeschreibung (role_title) setzen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_title": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiert"
          },
          "403": {
            "description": "Konfis duerfen keinen Titel setzen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin",
            "admin",
            "teamer",
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Inline-Check: role_name !== 'konfi'"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Eigenes Profil (inkl. is_super_admin-Flag, Trial-Status der Org)",
        "responses": {
          "200": {
            "description": "id, username, display_name, email, role_title, role_name, is_super_admin, trial_ends_at, is_trial"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigene Daten"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/my-organizations": {
      "get": {
        "summary": "Alle Organisationen des Users (Primaer-Org + Multi-Org-Mappings) mit Rolle",
        "responses": {
          "200": {
            "description": "Array (id, name, slug, display_name, role_name, is_active); nur aktive Orgs, dedupliziert"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Nur eigene Mitgliedschaften"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/switch-org": {
      "post": {
        "summary": "Aktive Organisation wechseln — neues Access-Token mit active_organization_id-Claim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id"
                ],
                "properties": {
                  "organization_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neues 15-Min-Token, active_organization_id, Rolle in Ziel-Org"
          },
          "400": {
            "description": "organization_id fehlt"
          },
          "403": {
            "description": "Keine Mitgliedschaft in Ziel-Org oder Ziel-Org gesperrt"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Mitgliedschaft in user_organizations + is_active der Ziel-Org",
          "hinweis": "Trial-Ablauf der Ziel-Org wird hier NICHT geprueft (nur is_active); bekannte Claim-Nachwirkung nach Mitgliedschafts-Entzug bis Token-Ablauf"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/request-password-reset": {
      "post": {
        "summary": "Passwort-Reset-Mail anfordern (immer neutrale Antwort)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neutral: 'Falls ein Konto existiert, wurde eine E-Mail gesendet'"
          },
          "429": {
            "description": "passwordResetLimiter: 5/15min"
          },
          "500": {
            "description": "Mail-Versand fehlgeschlagen (nur wenn Konto existiert — schwaecht die Neutralitaet leicht ab)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "passwordResetLimiter",
            "validateRequestPasswordReset"
          ],
          "org-scope": false,
          "objekt-pruefung": "Token 32 Byte Hex, 24h gueltig",
          "hinweis": "BEKANNT: Token wird unhashed in password_resets gespeichert"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/invite-code": {
      "post": {
        "summary": "Einladungscode fuer einen Jahrgang erzeugen (8 Hex-Zeichen, 7 Tage)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jahrgang_id"
                ],
                "properties": {
                  "jahrgang_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "invite_code, jahrgang_name, expires_at (Status ist 200)"
          },
          "403": {
            "description": "Nur Org-Admins"
          },
          "404": {
            "description": "Jahrgang nicht in eigener Org"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateInviteCode"
          ],
          "org-scope": true,
          "objekt-pruefung": "Jahrgang muss zur eigenen Org gehoeren",
          "hinweis": "Inline-Check erlaubt auch is_super_admin-Flag (abweichend von den drei anderen Invite-Routen, die strikt role_name==='org_admin' verlangen)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/invite-codes": {
      "get": {
        "summary": "Aktive Einladungscodes der eigenen Org (inkl. Nutzungs-Zaehler)",
        "responses": {
          "200": {
            "description": "Array mit code, jahrgang, expires_at, used_count"
          },
          "403": {
            "description": "Nur org_admin (strikt role_name, OHNE Super-Admin-Flag)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur Codes der eigenen Org, nur nicht-abgelaufene"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/invite-codes/{id}/extend": {
      "post": {
        "summary": "Einladungscode um 7 Tage verlaengern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Neues expires_at"
          },
          "400": {
            "description": "Abgelaufene Codes nicht verlaengerbar"
          },
          "403": {
            "description": "Nur org_admin"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Code muss zur eigenen Org gehoeren"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/invite-codes/{id}": {
      "delete": {
        "summary": "Einladungscode loeschen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geloescht"
          },
          "403": {
            "description": "Nur org_admin"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Code muss zur eigenen Org gehoeren"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/check-username/{username}": {
      "get": {
        "summary": "Username-Verfuegbarkeit pruefen (oeffentlich, case-insensitiv)",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "pattern": "^[a-zA-Z0-9.-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ available: bool, message }"
          },
          "400": {
            "description": "Zu kurz / ungueltige Zeichen"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "keine"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/validate-invite/{code}": {
      "get": {
        "summary": "Einladungscode pruefen (oeffentlich) — liefert Jahrgang + Org-Name",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ valid: true, jahrgang_name, organization_name }"
          },
          "404": {
            "description": "Code existiert nicht (error_code: not_found)"
          },
          "410": {
            "description": "Code abgelaufen (error_code: expired)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "Nur Existenz + Ablauf"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/register-konfi": {
      "post": {
        "summary": "Selbst-Registrierung als Konfi mit Einladungscode (inkl. Auto-Login)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invite_code",
                  "display_name",
                  "username",
                  "password"
                ],
                "properties": {
                  "invite_code": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-zA-Z0-9.-]+$"
                  },
                  "password": {
                    "type": "string",
                    "description": "volle Passwort-Policy"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token + Refresh-Token + Konfi-User; Auto-Enrollment in kuenftige Pflicht-Events des Jahrgangs; Push an Jahrgangs-Admins"
          },
          "403": {
            "description": "Konfi-Limit der Org erreicht (limit_exceeded)"
          },
          "404": {
            "description": "Code existiert nicht"
          },
          "409": {
            "description": "Username vergeben"
          },
          "410": {
            "description": "Code abgelaufen"
          },
          "429": {
            "description": "registerLimiter: 200/h pro IP"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "registerLimiter",
            "validateRegisterKonfi"
          ],
          "org-scope": false,
          "objekt-pruefung": "Invite-Code bestimmt Org + Jahrgang; konfi-Rolle wird org-gescopt aufgeloest; Konfi-Limit (max_konfis) hard_block"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/reset-password": {
      "post": {
        "summary": "Passwort mit Reset-Token setzen (oeffentlich)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "newPassword"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "volle Passwort-Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort zurueckgesetzt, Token als benutzt markiert (Einmal-Nutzung)"
          },
          "400": {
            "description": "Token ungueltig/abgelaufen/benutzt oder Policy verletzt"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [
            "validateResetPassword"
          ],
          "org-scope": false,
          "objekt-pruefung": "Token-Lookup in password_resets (used_at IS NULL, expires_at > NOW)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Access-Token per Refresh-Token erneuern (Rotation, 5-Min-Grace-Window)",
        "parameters": [
          {
            "name": "X-Active-Organization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Aktive Multi-Org — wird nach Mitgliedschafts-Pruefung als Claim uebernommen"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neues Token-Paar; altes Refresh-Token revoziert (bleibt 5 Min im Grace-Window nutzbar)"
          },
          "401": {
            "description": "Refresh-Token ungueltig/abgelaufen/zu lange revoziert"
          },
          "403": {
            "description": "User deaktiviert / Org gesperrt / Trial abgelaufen (super_admin ausgenommen)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "SHA-256-Hash-Lookup in refresh_tokens; Sperr-Checks wie beim Login",
          "hinweis": "token_invalidated_at (Soft-Revoke) wird beim Refresh nicht geprueft — Soft-Revoke wirkt nur auf Access-Tokens, nicht auf die Refresh-Kette"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout — Refresh-Token revozieren und Push-Token des Geraets entfernen (best effort, immer 200)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Geraete-ID. Wird sie zusammen mit platform mitgesendet, entfernt die Route den Push-Token dieses Geraets fuer den angemeldeten User. Seit 22.08.2026: Der Client ruft dafuer zwar auch DELETE /notifications/device-token, aber best-effort (Timeout, nur online, nur mit ermittelbarer Geraete-ID) — schlug das fehl, kamen weiter Push-Nachrichten an das abgemeldete Geraet.\n"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immer 'Logout erfolgreich'; Token wird zusaetzlich sofort expired (kein Grace-Window)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Revoziert nur das mitgesendete Token (Hash-Match). Der Push-Token-Cleanup ist auf user_id des Tokens gescopt — fremde Geraete und andere Nutzer auf demselben Geraet bleiben unberuehrt.\n"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations": {
      "get": {
        "summary": "Alle Organisationen mit Team-/Konfi-Zaehlern (nur Super-Admin)",
        "responses": {
          "200": {
            "description": "Array aller Orgs inkl. user_count/konfi_count"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine (org-uebergreifend)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Organisation anlegen inkl. erstem org_admin und Standard-Daten (Rollen, 27 Badges, 4 Zertifikat-Typen, 6 Levels, 5 Kategorien, 5 Aktivitaeten, 3 Beispiel-Challenges)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "slug",
                  "display_name",
                  "admin_username",
                  "admin_password",
                  "admin_display_name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contact_name": {
                    "type": "string"
                  },
                  "contact_email": {
                    "type": "string"
                  },
                  "contact_phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "website_url": {
                    "type": "string"
                  },
                  "kirchenkreis": {
                    "type": "string"
                  },
                  "max_konfis": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "admin_username": {
                    "type": "string"
                  },
                  "admin_password": {
                    "type": "string",
                    "minLength": 6,
                    "description": "BEKANNT: nur min 6 Zeichen, keine Policy"
                  },
                  "admin_display_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "id, admin_user_id, Anzahl angelegter Standard-Objekte"
          },
          "409": {
            "description": "Slug existiert bereits"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateCreateOrg"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/search-users": {
      "get": {
        "summary": "Systemweite User-Suche fuer Multi-Org-Zuweisung (ohne Konfis)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Max. 20 aktive Nicht-Konfi-User (username, display_name, email, Primaer-Org, Rolle)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine (org-uebergreifend, bewusst)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/current": {
      "get": {
        "summary": "Eigene (aktive) Organisation mit Statistiken",
        "responses": {
          "200": {
            "description": "SELECT * der Org + user/konfi/jahrgang/activity/event/badge_count"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Immer req.user.organization_id",
          "hinweis": "Auch Konfis/Teamer sehen den vollen Org-Datensatz (Kontakt-/Trial-/Limit-Felder) — siehe N5"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}": {
      "get": {
        "summary": "Einzelne Organisation mit Zaehlern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SELECT * + user/teamer/admin/konfi/... counts"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "jede Rolle der eigenen Org"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: is_super_admin ODER organization_id === id"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "put": {
        "summary": "Organisation bearbeiten (Stammdaten; trial_ends_at/is_trial nur Super-Admin)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "slug",
                  "display_name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contact_name": {
                    "type": "string"
                  },
                  "contact_email": {
                    "type": "string"
                  },
                  "contact_phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "website_url": {
                    "type": "string"
                  },
                  "kirchenkreis": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "BEKANNT: auch org_admin darf die eigene Org (de)aktivieren"
                  },
                  "trial_ends_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "nur super_admin; setzt license_reminder_sent_at zurueck"
                  },
                  "is_trial": {
                    "type": "boolean",
                    "description": "nur super_admin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiert"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Slug existiert bereits"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateUpdateOrg"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: is_super_admin ODER (eigene Org UND role_name==='org_admin'); Trial-Felder werden fuer org_admin ignoriert"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "delete": {
        "summary": "Organisation vollstaendig loeschen (explizite CASCADE-Kette in einer Transaktion, inkl. Datei-Cleanup nach COMMIT)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org und alle zugehoerigen Daten geloescht; Gast-User fremder Orgs bleiben"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateOrgId"
          ],
          "org-scope": false,
          "objekt-pruefung": "Existenz der Org"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/limit": {
      "patch": {
        "summary": "Konfi-Limit (max_konfis) setzen — bewusst eigener Super-Admin-Endpunkt, damit org_admin den Tarif nicht aushebeln kann",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "max_konfis": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 0,
                    "description": "null = unbegrenzt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Limit gesetzt"
          },
          "400": {
            "description": "max_konfis ungueltig"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateOrgId"
          ],
          "org-scope": false,
          "objekt-pruefung": "Existenz der Org"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/users": {
      "get": {
        "summary": "Alle User einer Organisation (inkl. Konfis) mit Rolle und Jahrgangs-Zaehler",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User-Array"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: super_admin ODER (org_admin UND eigene Org)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/admins": {
      "get": {
        "summary": "org_admins einer Organisation auflisten",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin-Array"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: super_admin ODER (org_admin UND eigene Org)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Neuen org_admin in einer Organisation anlegen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "display_name",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "systemweit eindeutig (case-insensitiv)"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Neuer Admin"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Org nicht gefunden"
          },
          "409": {
            "description": "Username/E-Mail existiert bereits"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateCreateOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: super_admin (jede Org) ODER org_admin der eigenen Org; org_admin-Rolle wird in der Ziel-Org aufgeloest"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "summary": "Multi-Org-Mitglieder einer Organisation (Primaer-User + Mappings, dedupliziert)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array mit is_primary-Kennzeichnung"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateOrgId"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Bestehenden User als Multi-Org-Mitglied zuweisen (Upsert der Rolle)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "role_name"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "role_name": {
                    "type": "string",
                    "enum": [
                      "org_admin",
                      "admin",
                      "teamer"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mitgliedschaft gespeichert; Chat-Sync (Team-Chat, bei org_admin alle Jahrgangs-Chats); User-Cache invalidiert"
          },
          "400": {
            "description": "konfi/super_admin als Rolle verboten; Rolle existiert nicht in Ziel-Org; User ist Konfi"
          },
          "404": {
            "description": "User oder Org nicht gefunden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin",
            "validateAddMember"
          ],
          "org-scope": false,
          "objekt-pruefung": "Ziel-Rolle wird in der Ziel-Org aufgeloest; Konfis explizit ausgeschlossen"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/members/{userId}": {
      "delete": {
        "summary": "Multi-Org-Mitgliedschaft entziehen (Primaer-Org nicht entfernbar)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mitgliedschaft entfernt; Chat-Sync raeumt Team-/Jahrgangs-Chats auf; Cache invalidiert"
          },
          "400": {
            "description": "Primaer-Org kann hier nicht entfernt werden"
          },
          "404": {
            "description": "User oder Mitgliedschaft nicht gefunden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireSuperAdmin"
          ],
          "org-scope": false,
          "objekt-pruefung": "users.organization_id !== id (Primaer-Org-Schutz)",
          "hinweis": "BEKANNT: laufende Access-Tokens mit active_organization_id-Claim wirken bis Ablauf nach (max 15 Min + 30s Cache)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/organizations/{id}/stats": {
      "get": {
        "summary": "Statistiken einer Organisation (Konfis, Aktivitaeten, Events, Badges, Antraege)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zaehler-Objekt"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "jede Rolle der eigenen Org"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: is_super_admin ODER eigene Org"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "Alle Verwaltungs-User der eigenen Org (ohne Konfis/super_admin), mit can_edit-Flag aus der Hierarchie",
        "responses": {
          "200": {
            "description": "User-Array (Rolle, Jahrgangs-Zaehler, can_edit)"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "keine weitere"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Verwaltungs-User anlegen (Rolle aus eigener Org, volle Passwort-Policy)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "display_name",
                  "password",
                  "role_id"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-zA-Z0-9.-]+$"
                  },
                  "email": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "role_title": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "validatePassword-Policy"
                  },
                  "role_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Neuer User; Chat-Sync (Team-Chat, org_admin zusaetzlich Jahrgangs-Chats)"
          },
          "400": {
            "description": "Rolle nicht in eigener Org / Policy verletzt"
          },
          "403": {
            "description": "Hierarchie: Ziel-Rolle nicht anlegbar (canCreateRole)"
          },
          "409": {
            "description": "Username existiert (systemweit)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "checkUserHierarchy('create')",
            "validateCreateUser"
          ],
          "org-scope": true,
          "objekt-pruefung": "role_id muss zur eigenen Org gehoeren; Hierarchie prueft Ziel-Rolle"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Einzelnen User mit Jahrgangs-Zuweisungen laden",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User + assigned_jahrgaenge (can_view/can_edit, assigned_by)"
          },
          "403": {
            "description": "Hierarchie: Ziel-Rolle nicht einsehbar"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "checkUserHierarchy('view')"
          ],
          "org-scope": true,
          "objekt-pruefung": "Ziel-User muss in eigener Org sein; canManageRole(eigene Rolle, Ziel-Rolle)"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "put": {
        "summary": "User bearbeiten (Felder optional; Rolle, is_active, Passwort)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-zA-Z0-9.-]+$"
                  },
                  "email": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "role_title": {
                    "type": "string"
                  },
                  "role_id": {
                    "type": "integer",
                    "description": "Rollenwechsel: Hierarchie prueft neue Rolle; Sockets werden getrennt"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "false trennt aktive Sockets"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiert; Chat-Sync bei Rollen-/Aktiv-Wechsel; User-Cache invalidiert"
          },
          "400": {
            "description": "Rolle nicht in eigener Org / keine Felder"
          },
          "403": {
            "description": "Hierarchie verletzt (Ziel-User oder neue Rolle)"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Username/E-Mail existiert bereits"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "checkUserHierarchy('update')",
            "validateUpdateUser"
          ],
          "org-scope": true,
          "objekt-pruefung": "Ziel-User in eigener Org; canManageRole + canCreateRole fuer neue Rolle"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "delete": {
        "summary": "User loeschen (Hard-Delete mit Referenz-Anonymisierung und History-Purge)",
        "description": "Anonymisiert die Urheberschaft (admin_id/created_by/approved_by -> NULL, seit 24.08.2026 auch events.created_by, custom_badges.created_by, levels.created_by und user_jahrgang_assignments.assigned_by — vorher blockierten diese Fremdschluessel das Loeschen mit 500) und raeumt die eigene Historie ab, inkl. user_certificates.user_id (ebenfalls seit 24.08.2026, vorher war jede ausgezeichnete Person unloeschbar). Nachweisfotos UND Challenge-Dateien werden nach dem COMMIT von der Platte entfernt.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geloescht; Sockets getrennt; Nachweisfotos und Challenge-Dateien nach COMMIT entfernt"
          },
          "400": {
            "description": "Selbst-Loeschung verboten"
          },
          "403": {
            "description": "Hierarchie verletzt"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Letzter org_admin der Org nicht loeschbar"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "checkUserHierarchy('delete')",
            "validateUserId"
          ],
          "org-scope": true,
          "objekt-pruefung": "Eigene Org; Selbst-Loeschungs-Sperre; Letzter-org_admin-Schutz"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/users/{id}/jahrgaenge": {
      "get": {
        "summary": "Jahrgangs-Zuweisungen eines Users",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array (jahrgang, can_view, can_edit, assigned_by_name)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "Jahrgaenge auf eigene Org gefiltert"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Jahrgangs-Zuweisungen komplett ersetzen (delete + insert, transaktional, Chat-Sync)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jahrgang_assignments"
                ],
                "properties": {
                  "jahrgang_assignments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "jahrgang_id"
                      ],
                      "properties": {
                        "jahrgang_id": {
                          "type": "integer"
                        },
                        "can_view": {
                          "type": "boolean",
                          "default": true
                        },
                        "can_edit": {
                          "type": "boolean",
                          "default": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zuweisungen ersetzt; Jahrgangs-Chats aller betroffenen Jahrgaenge synchronisiert"
          },
          "400": {
            "description": "Jahrgang nicht in eigener Org"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "validateJahrgangAssignments"
          ],
          "org-scope": true,
          "objekt-pruefung": "User + alle Jahrgang-IDs muessen zur eigenen Org gehoeren",
          "hinweis": "KEIN checkUserHierarchy — org_admin darf ohnehin alle; Route wird aber nicht durch andere Rollen erreichbar"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/users/me/jahrgaenge": {
      "get": {
        "summary": "Eigene Jahrgangs-Zuweisungen (fuer Teamer-UI)",
        "responses": {
          "200": {
            "description": "Array der eigenen Zuweisungen (auf aktive Org gescopt)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur eigene Daten"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/users/{id}/reset-password": {
      "put": {
        "summary": "Passwort eines Users administrativ setzen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "volle validatePassword-Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort gesetzt; aktive Sockets des Users getrennt"
          },
          "400": {
            "description": "Policy verletzt"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateResetPassword"
          ],
          "org-scope": true,
          "objekt-pruefung": "Inline: is_super_admin (org-uebergreifend, auch per Flag) ODER org_admin derselben Org; org_admin darf auch andere org_admins resetten"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/admin/users": {
      "get": {
        "summary": "Alle Verwaltungs-User der eigenen Org (Alias von GET /users)",
        "description": "Identischer Handler wie GET /users.",
        "responses": {
          "200": {
            "description": "User-Array (Rolle, Jahrgangs-Zaehler, can_edit)"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie GET /users",
          "hinweis": "Alias-Mount, kein eigener Code. super_admin faellt durch requireOrgAdmin auf 403, ausser er agiert per Multi-Org-Switch als org_admin."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Verwaltungs-User anlegen (Alias von POST /users)",
        "description": "Identischer Handler wie POST /users.",
        "responses": {
          "201": {
            "description": "Angelegter User"
          },
          "400": {
            "description": "Validierung/Passwort-Policy"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "userHierarchyMiddleware('create')",
            "validateCreateUser"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie POST /users (Rollenhierarchie via canCreateRole)",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/admin/users/{id}": {
      "get": {
        "summary": "Einzelnen User laden (Alias von GET /users/{id})",
        "description": "Identischer Handler wie GET /users/{id}.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User inkl. Jahrgangs-Zuweisungen"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "userHierarchyMiddleware('view')"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie GET /users/{id}",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "put": {
        "summary": "User bearbeiten (Alias von PUT /users/{id})",
        "description": "Identischer Handler wie PUT /users/{id}.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User aktualisiert"
          },
          "400": {
            "description": "Validierung/Passwort-Policy"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "userHierarchyMiddleware('update')",
            "validateUpdateUser"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie PUT /users/{id}",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "delete": {
        "summary": "User loeschen (Alias von DELETE /users/{id})",
        "description": "Identischer Handler wie DELETE /users/{id}.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User geloescht"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "userHierarchyMiddleware('delete')",
            "validateUserId"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie DELETE /users/{id}; Selbst-Loeschung blockiert",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/admin/users/{id}/jahrgaenge": {
      "get": {
        "summary": "Jahrgangs-Zuweisungen eines Users (Alias von GET /users/{id}/jahrgaenge)",
        "description": "Identischer Handler wie GET /users/{id}/jahrgaenge.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array der Zuweisungen"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie GET /users/{id}/jahrgaenge",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      },
      "post": {
        "summary": "Jahrgangs-Zuweisungen ersetzen (Alias von POST /users/{id}/jahrgaenge)",
        "description": "Identischer Handler wie POST /users/{id}/jahrgaenge.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zuweisungen ersetzt, Chat synchronisiert"
          },
          "400": {
            "description": "Validierung"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "requireOrgAdmin",
            "validateJahrgangAssignments"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie POST /users/{id}/jahrgaenge",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/admin/users/me/jahrgaenge": {
      "get": {
        "summary": "Eigene Jahrgangs-Zuweisungen (Alias von GET /users/me/jahrgaenge)",
        "description": "Identischer Handler wie GET /users/me/jahrgaenge.",
        "responses": {
          "200": {
            "description": "Array der eigenen Zuweisungen (auf aktive Org gescopt)"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "alle authentifizierten"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Nur eigene Daten",
          "hinweis": "Alias-Mount, kein eigener Code. Kein Rollen-Guard — auch Konfis erreichen diesen Pfad und bekommen ihre eigenen (in der Regel leeren) Zuweisungen."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/admin/users/{id}/reset-password": {
      "put": {
        "summary": "Passwort administrativ setzen (Alias von PUT /users/{id}/reset-password)",
        "description": "Identischer Handler wie PUT /users/{id}/reset-password.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "volle validatePassword-Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passwort gesetzt; aktive Sockets des Users getrennt"
          },
          "400": {
            "description": "Policy verletzt"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateResetPassword"
          ],
          "org-scope": true,
          "objekt-pruefung": "wie PUT /users/{id}/reset-password (Inline-Check statt requireOrgAdmin)",
          "hinweis": "Alias-Mount, kein eigener Code."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/health": {
      "get": {
        "summary": "Liveness-Check (ohne Anmeldung)",
        "description": "Minimaler Endpunkt fuer Docker-Healthcheck und Traefik. Bewusst ohne Datenbank-Pruefung: ein haengender DB-Check wuerde einen gesunden Container vom Healthcheck killen lassen.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "status: OK, message"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "keine",
          "hinweis": "Keine Authentifizierung. Gibt keine Daten preis ausser der Tatsache, dass der Dienst laeuft."
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/status": {
      "get": {
        "summary": "Readiness-Check mit Datenbank-Pruefung (ohne Anmeldung)",
        "description": "Prueft die Datenbank mit SELECT 1 und liefert 200 bei gesunder DB, sonst 503. Getrennt von /health, weil er echte Abhaengigkeiten prueft.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "status, version, commit, uptimeSeconds, checks.database, responseTimeMs"
          },
          "503": {
            "description": "DEGRADED — Datenbank nicht erreichbar"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "oeffentlich"
          ],
          "middleware": [],
          "org-scope": false,
          "objekt-pruefung": "keine",
          "hinweis": "# HINWEIS: Ohne Anmeldung erreichbar und gibt version und commit (GIT_SHA) preis. Bewusst so fuer die Status-Seite / Uptime Kuma.\n"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/metrics": {
      "get": {
        "summary": "APM-Kennzahlen aller Replicas (nur super_admin)",
        "description": "Aggregierte Laufzeitdaten: langsamste und meistgenutzte Routen, parallele Requests, Live-Verlauf, letzte Fehler. Ist METRICS_PEERS gesetzt, werden alle Peers ueber /metrics/local abgefragt und zu einem Gesamtbild inklusive Lastverteilung gemergt.\n",
        "responses": {
          "200": {
            "description": "Zusammengefuehrter APM-Snapshot inkl. replicas"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Inline: req.user.is_super_admin, sonst 403",
          "hinweis": "Bewusst org-uebergreifend — die Daten sind organisationsunabhaengige Betriebskennzahlen. Der Authorization-Header wird an die Peers weitergereicht.\n"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/metrics/local": {
      "get": {
        "summary": "APM-Rohdaten nur dieser Replica (nur super_admin)",
        "description": "Unaggregierter In-Memory-Snapshot der antwortenden Replica. Wird von /metrics fuer die Peer-Aggregation genutzt, ist aber auch direkt aufrufbar.\n",
        "responses": {
          "200": {
            "description": "APM-Snapshot dieser Replica"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Inline: req.user.is_super_admin, sonst 403"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/metrics/history": {
      "get": {
        "summary": "Gespeicherte APM-Historie (nur super_admin)",
        "description": "Liefert die persistierten Snapshots aus apm_snapshots der letzten N Tage, damit das Dashboard Deltas ueber Deploys hinweg bilden kann.\n",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 7
            },
            "description": "Auf 1..30 begrenzt; ungueltige Werte fallen auf 7 zurueck."
          }
        ],
        "responses": {
          "200": {
            "description": "days und snapshots[] (captured_at, total_requests, total_errors, max_in_flight, worst_p95_ms, worst_route)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-berechtigung": {
          "rollen": [
            "super_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": false,
          "objekt-pruefung": "Inline: req.user.is_super_admin, sonst 403"
        },
        "tags": [
          "Anmeldung & Verwaltung"
        ]
      }
    },
    "/api/konfi/dashboard": {
      "get": {
        "summary": "Konfi-Dashboard (eigene Punkte, Level, Ranking, Badges, Termine)",
        "description": "Liefert das komplette Dashboard des eingeloggten Konfis: Stammdaten, Punkte, Level-Fortschritt, Konfirmationstermin (aus gebuchtem is_konfirmation-Event), Dashboard-Konfiguration der Org, Top-3-Ranking des Jahrgangs, letzte Badges und Events, Wrapped-Verfuegbarkeit.\n",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Daten (user_id = Token); Ranking aggregiert ueber den eigenen Jahrgang",
          "hinweis": "# LÜCKE L4: ranking[] enthaelt display_name (Klarname) und exakte Punktzahl der drei Punktbesten des Jahrgangs - zusaetzlich zu den im Frontend genutzten Initialen.\n"
        },
        "responses": {
          "200": {
            "description": "Dashboard-Daten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "konfi": {
                      "type": "object",
                      "description": "id, display_name, Punkte, Jahrgang, Level-Felder, confirmation_location/-event_date"
                    },
                    "point_config": {
                      "type": "object",
                      "description": "gottesdienst_enabled, gemeinde_enabled, target_*"
                    },
                    "dashboard_config": {
                      "type": "object",
                      "description": "show_*-Flags, section_order"
                    },
                    "recent_badges": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "badge_count": {
                      "type": "integer"
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "event_count": {
                      "type": "integer"
                    },
                    "ranking": {
                      "type": "array",
                      "description": "Top 3 des Jahrgangs (id, display_name, points, initials)",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total_points": {
                      "type": "integer"
                    },
                    "rank_in_jahrgang": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "total_in_jahrgang": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "days_to_confirmation": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "confirmation_date": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_wrapped": {
                      "type": "boolean"
                    },
                    "konfspruch_visible": {
                      "type": "boolean"
                    },
                    "level_info": {
                      "type": "object",
                      "description": "current_level, next_level, progress_percentage, points_to_next_level, all_levels"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/profile": {
      "get": {
        "summary": "Eigenes Konfi-Profil",
        "description": "Profil des eingeloggten Konfis mit Punkten (inkl. Bonus-Summe), Statistiken (Badges, Aktivitaeten, Events, offene Antraege), Rang im Jahrgang, Konfirmationstermin/-ort und aufgeloestem Konfispruch.\n",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Daten"
        },
        "responses": {
          "200": {
            "description": "Profil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "username": {
                      "type": "string"
                    },
                    "jahrgang_name": {
                      "type": "string"
                    },
                    "konfspruch": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "source: liste|freitext, text, reference"
                    },
                    "total_points": {
                      "type": "integer"
                    },
                    "gottesdienst_points": {
                      "type": "integer"
                    },
                    "gemeinde_points": {
                      "type": "integer"
                    },
                    "bonus_points": {
                      "type": "integer"
                    },
                    "badge_count": {
                      "type": "integer"
                    },
                    "activity_count": {
                      "type": "integer"
                    },
                    "event_count": {
                      "type": "integer"
                    },
                    "pending_requests": {
                      "type": "integer"
                    },
                    "rank_in_jahrgang": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "total_in_jahrgang": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "confirmation_date": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "confirmation_location": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      },
      "patch": {
        "summary": "Eigenen Konfispruch setzen (Listen-Wahl oder Freitext)",
        "description": "Setzt den Konfispruch: entweder konfspruch_id + translation (luther2017 | bigs | gute_nachricht | elberfelder) aus der kuratierten Liste ODER konfspruch_freitext + konfspruch_freitext_referenz (Pflicht, max 100 Zeichen; Freitext max 1000). Genau eine Quelle aktiv.\n",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigenes Profil (WHERE user_id = req.user.id); Spruch muss org-sichtbar und aktiv sein"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "konfspruch_id": {
                    "type": "integer"
                  },
                  "translation": {
                    "type": "string",
                    "enum": [
                      "luther2017",
                      "bigs",
                      "gute_nachricht",
                      "elberfelder"
                    ]
                  },
                  "konfspruch_freitext": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "konfspruch_freitext_referenz": {
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success: true, konfspruch (source, id/text, translation/reference)"
          },
          "400": {
            "description": "Ungueltige Kombination",
            "leerer Text": null,
            "fehlende Referenz oder zu lang": null
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Konfispruch nicht gefunden (Listen-Wahl)"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/points-history": {
      "get": {
        "summary": "Eigene Punkte-Historie (Aktivitaeten, Bonus, Events)",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Daten"
        },
        "responses": {
          "200": {
            "description": "history[] (id, title, points, category, date, comment, source_type activity|bonus|event) + totals {gottesdienst, gemeinde, total}"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/requests": {
      "get": {
        "summary": "Eigene Aktivitaets-Antraege auflisten",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Antraege (user_id = Token)"
        },
        "responses": {
          "200": {
            "description": "Array von Antraegen (ar.* + activity_name, activity_points, activity_type)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      },
      "post": {
        "summary": "Neuen Aktivitaets-Antrag einreichen",
        "description": "Legt einen Antrag (status pending) an. Idempotent ueber optionale client_id (UUID): existiert der Antrag bereits, kommt 200 mit dem bestehenden Datensatz. Benachrichtigt Admins (Notification + Push).\n",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "validateCreateRequest"
          ],
          "org-scope": true,
          "objekt-pruefung": "Aktivitaet muss zur eigenen Org gehoeren (404 sonst)"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity_id",
                  "requested_date"
                ],
                "properties": {
                  "activity_id": {
                    "type": "integer"
                  },
                  "requested_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "description": {
                    "type": "string",
                    "description": "Kommentar (Spalte comment)"
                  },
                  "photo_filename": {
                    "type": "string",
                    "description": "Dateiname aus POST /api/konfi/upload-photo"
                  },
                  "client_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bereits vorhandener Antrag (Idempotenz ueber client_id)"
          },
          "201": {
            "description": "id + message"
          },
          "400": {
            "description": "Validierungsfehler"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Aktivitaet nicht gefunden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/requests/{id}": {
      "delete": {
        "summary": "Eigenen offenen Antrag loeschen",
        "description": "Nur Antraege mit status pending; zugehoeriges Nachweisfoto wird mitgeloescht.",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigener Antrag (id + user_id + organization_id)"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "Geloescht"
          },
          "400": {
            "description": "Antrag nicht mehr pending"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/upload-photo": {
      "post": {
        "summary": "Nachweisfoto fuer Antrag hochladen (verschluesselt at-rest)",
        "description": "multipart/form-data, Feld \"photo\". Magic-Bytes-Pruefung (nur echte Bilder, sonst 415), AES-256-GCM-Verschluesselung, zufaelliger 64-Hex-Dateiname wird zurueckgegeben (fuer POST /api/konfi/requests).\n",
        "x-berechtigung": {
          "rollen": [
            "konfi",
            "teamer"
          ],
          "middleware": [
            "verifyTokenRBAC",
            "multer requestUpload.single('photo')"
          ],
          "org-scope": false,
          "objekt-pruefung": "keine (Datei ist noch keinem Antrag zugeordnet)",
          "hinweis": "Einzige /api/konfi-Route, die auch Teamern offensteht (Teamer-Nachweise)."
        },
        "responses": {
          "200": {
            "description": "filename (64 Hex) + message"
          },
          "400": {
            "description": "Kein Foto im Request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "415": {
            "description": "Datei ist kein Bild (Magic-Bytes)"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/activity-requests/{id}/photo": {
      "get": {
        "summary": "Nachweisfoto eines Antrags abrufen (Eigentuemer/Admin)",
        "description": "Liefert das entschluesselte Bild (image/jpeg).",
        "x-berechtigung": {
          "rollen": [
            "konfi",
            "teamer",
            "admin",
            "org_admin"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "Konfi/Teamer nur den EIGENEN Antrag (user_id-Vergleich) und nur solange status='pending' (danach 403); req.user.type==='admin' (org_admin/admin) sieht alle Fotos der Org statusunabhaengig.\n",
          "hinweis": "Antrag wird org-gescopt geladen; fremde Org -> 404."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bild (image/jpeg)",
            "content": {
              "image/jpeg": {}
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Fremder Antrag oder Antrag bereits bearbeitet (Nicht-Admin)"
          },
          "404": {
            "description": "Antrag/Foto/Datei nicht gefunden"
          },
          "500": {
            "description": "Entschluesselung fehlgeschlagen / Serverfehler"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/activities": {
      "get": {
        "summary": "Beantragbare Aktivitaeten auflisten",
        "description": "Aktivitaeten der Org mit target_role konfi (oder NULL), gefiltert auf die im Jahrgang aktivierten Punkt-Typen.\n",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "keine personenbezogenen Daten"
        },
        "responses": {
          "200": {
            "description": "Array (id, name, points, type, category_names)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/badges": {
      "get": {
        "summary": "Eigene Badges mit Fortschritt",
        "description": "Gemeinsame Berechnung mit Admin-Sicht (utils/konfiBadgeProgress.js).",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Daten"
        },
        "responses": {
          "200": {
            "description": "Badge-Liste mit earned/progress"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/badges/stats": {
      "get": {
        "summary": "Eigene Badge-Statistik (total/earned)",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene Daten"
        },
        "responses": {
          "200": {
            "description": "total_badges, earned_badges"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/badges/mark-seen": {
      "post": {
        "summary": "Eigene Badges als gesehen markieren",
        "x-berechtigung": {
          "rollen": [
            "konfi"
          ],
          "middleware": [
            "verifyTokenRBAC"
          ],
          "org-scope": true,
          "objekt-pruefung": "nur eigene user_badges"
        },
        "responses": {
          "200": {
            "description": "success: true"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Konfis & Termine"
        ]
      }
    },
    "/api/konfi/events": {
      "get": {
        "summary": "Events des eigenen Jahrgangs (Konfi-Sicht)",
[...]
