<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw2o5HRNHjwGzD0jPaLiXhe4l0gMPH7lk</string>
	<key>GCM_SENDER_ID</key>
	<string>596649223521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.godsapp.konfiquest</string>
	<key>PROJECT_ID</key>
	<string>konfiquest-push</string>
	<key>STORAGE_BUCKET</key>
	<string>konfiquest-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596649223521:ios:5a749366988625ab231120</string>
</dict>
</plist>